<footer>
    <div class="container">
        <div class="social flex-lc">
            <a href="" title="" class="telegram">telegram</a>
            <a href="" title="" class="discord">discord</a>
            <a href="" title="" class="twitter">twitter</a>
            <a href="" title="" class="youtube">youtube</a>
        </div>
    </div>
</footer>