<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <a href="/oxanon/build/home" class="logo"><img src="./assets/img/logo.svg" alt=""></a>
            <a href="" title="" class="btn-connect btn-pr ml-auto">Connect Wallet</a>
        </nav>
    </div>
</header>