<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggle" type="button"><span></span></button>
            <a href="/oxanon/build/home" class="logo"><img src="./assets/img/logo.svg" alt=""></a>
            <div class="navbar-collapse">
                <ul class="navbar-nav">
                    <li><a href="/oxanon/build/private-transaction" title="Private Transaction">Private Transaction</a></li>
                    <li><a href="/oxanon/build/liquidity-leasing" title="Liquidity Leasing">Liquidity Leasing</a></li>
                    <li><a href="/oxanon/build/bridge" title="Bridge">Bridge</a></li>
                    <li><a href="/oxanon/build/privacy" title="Privacy OTC">Privacy OTC</a></li>
                </ul>
                <div class="profile flex-lc">
                    <div class="eth-number">0 ETH</div>
                    <div class="account">
                        <button type="button" class="flex-center">
                            <span class="avatar flex-center"><img src="./assets/img/avatar.png" alt=""></span>
                            <span class="name">0xb1...F70D</span>
                        </button>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>