<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggle" type="button"><span></span></button>
            <a href="/oxanon/build/home" class="logo"><img src="./assets/img/logo.svg" alt=""></a>
            <div class="navbar-collapse">
                <div class="profile flex-lc">
                    <div class="eth-number">0 ETH</div>
                    <div class="account">
                        <button type="button" class="flex-center">
                            <span class="avatar flex-center"><img src="./assets/img/avatar.png" alt=""></span>
                            <span class="name">0xb1...F70D</span>
                        </button>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>