<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/aos.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% include "../share/header.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/page_all.js"></script>
<script src="./assets/js/aos.js"></script>

<script>
    $(document).ready(function () {
        $('#modal-address').modal('show');

        $('.modal .close').on('click',function (){
            $('.token-list li').removeClass('hide');
            $('.form-search input').val('');
        });
        function select_token(list, selected){
            $(list).on('click',function (){
                var img_icon = $(this).data('icon');
                var txt = $(this).data('txt');
                var html_img = `<img src="${img_icon}">`;
                $(selected).find('.selected .icon').html('').append(html_img);
                $(selected).find('.selected .txt').html('').append(txt);
                $('.modal-token').modal('hide');
            });
        }
        select_token('.token-list-form li','.box-select-form');
        select_token('.token-list-to li','.box-select-to');
        select_token('.token-list-asset li','.box-select-asset');


        $(document).mouseup(function (e) {
            var container = $(".box-select");
            var modal = $(".modal");

            if (!container.is(e.target) && container.has(e.target).length === 0) {
                $('.box-select').removeClass('show');
            }
            if (!modal.is(e.target) && modal.has(e.target).length === 0) {
                $('.token-list li').removeClass('hide');
                $('.form-search input').val('');
            }
        });

        //search
        $(window).on('load',function (){
            var filter = document.getElementById("search-token"),
                list = document.querySelectorAll(".token-list li");

            filter.onkeyup = () => {
                let search = filter.value.toLowerCase();
                for (let i of list) {
                    let item = i.innerHTML.toLowerCase();
                    if (item.indexOf(search) == -1) { i.classList.add("hide"); }
                    else { i.classList.remove("hide"); }
                }
            };
        });
    });

</script>

</body>
</html>