<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/aos.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% include "../share/header.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/slick.js"></script>
<script src="./assets/js/page_all.js"></script>
<script src="./assets/js/aos.js"></script>

<script>
    $(document).ready(function () {
        //show dropdown
        $('.dropdown-select').on('click',function (){
            $(this).toggleClass('active');
           $('.dropdown-content').toggleClass('show');
        });
        $('.dropdown-content button').on('click',function (){
           let select = $(this).data('select');
            $('.dropdown-content button').removeClass('active');
           $(this).addClass('active');
           $('.dropdown-select').html('').append(select);
        });

        $('.box-form .btn-next,.box-form .btn-prev').on('click',function(){
            $("html,body").animate({ scrollTop: 0 }, "slow");
        });

        $('.btn-next').on('click',function(){
            setInterval(function(){
                if($('.btn-next').hasClass('slick-disabled')){
                $('.btn-deploy').css('display','block');
                }else{
                    $('.btn-deploy').css('display','none');
                }
            },100);
        });

        //select custom
        $('.token-list li').on('click',function () {
            var img_icon = $(this).data('icon');
            var txt = $(this).data('txt');
            var html_img = `<img src="${img_icon}">`;
            $('.box-select').find('.selected .icon').html('').append(html_img);
            $('.box-select').find('.selected .txt').html('').append(txt);
            $('#modal-select-token').modal('hide');
        });

        function select_token(list, selected){
            $(list).on('click',function (){
                var img_icon = $(this).data('icon');
                var txt = $(this).data('txt');
                var html_img = `<img src="${img_icon}">`;
                $(selected).find('.selected .icon').html('').append(html_img);
                $(selected).find('.selected .txt').html('').append(txt);
                $('.modal-token').modal('hide');
            });
        }
        select_token('.token-list-form li','.box-select-form');
        select_token('.token-list-to li','.box-select-to');
        select_token('.token-list-asset li','.box-select-asset');


        $(document).mouseup(function (e) {
            var container = $(".box-select");

            if (!container.is(e.target) && container.has(e.target).length === 0) {
                $('.box-select').removeClass('show');
            }
        });

        $('.form-list').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            draggable: false,
            infinite: false,
            arrows: true,
            fade: true,
            prevArrow: '.box-btn .btn-prev',
            nextArrow: '.box-btn .btn-next',
        });


        $('.modal .box-btn button').on('click',function (){
            $('body').addClass('modal-active');
        });

        $(window).on('load',function (){
            var filter = document.getElementById("search-token"),
                list = document.querySelectorAll("#token-list li");

            filter.onkeyup = () => {
                let search = filter.value.toLowerCase();

                for (let i of list) {
                    let item = i.innerHTML.toLowerCase();
                    if (item.indexOf(search) == -1) { i.classList.add("hide"); }
                    else { i.classList.remove("hide"); }
                }
            };
        });
    });

</script>
<script>
    var x, i, j, l, ll, selElmnt, a, b, c;
    
    x = document.getElementsByClassName("select-box");
    l = x.length;
    for (i = 0; i < l; i++) {
      selElmnt = x[i].getElementsByTagName("select")[0];
      ll = selElmnt.length;
      
      a = document.createElement("DIV");
      a.setAttribute("class", "select-selected");
      a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
      x[i].appendChild(a);
      
      b = document.createElement("DIV");
      b.setAttribute("class", "select-items select-hide");
      for (j = 1; j < ll; j++) {
       
        c = document.createElement("DIV");
        c.innerHTML = selElmnt.options[j].innerHTML;
        c.addEventListener("click", function(e) {
           
            var y, i, k, s, h, sl, yl;
            s = this.parentNode.parentNode.getElementsByTagName("select")[0];
            sl = s.length;
            h = this.parentNode.previousSibling;
            for (i = 0; i < sl; i++) {
              if (s.options[i].innerHTML == this.innerHTML) {
                s.selectedIndex = i;
                h.innerHTML = this.innerHTML;
                y = this.parentNode.getElementsByClassName("same-as-selected");
                yl = y.length;
                for (k = 0; k < yl; k++) {
                  y[k].removeAttribute("class");
                }
                this.setAttribute("class", "same-as-selected");
                break;
              }
            }
            h.click();
        });
        b.appendChild(c);
      }
      x[i].appendChild(b);
      a.addEventListener("click", function(e) {
          
          e.stopPropagation();
          closeAllSelect(this);
          this.nextSibling.classList.toggle("select-hide");
          this.classList.toggle("select-arrow-active");
        });
    }
    function closeAllSelect(elmnt) {
      
      var x, y, i, xl, yl, arrNo = [];
      x = document.getElementsByClassName("select-items");
      y = document.getElementsByClassName("select-selected");
      xl = x.length;
      yl = y.length;
      for (i = 0; i < yl; i++) {
        if (elmnt == y[i]) {
          arrNo.push(i)
        } else {
          y[i].classList.remove("select-arrow-active");
        }
      }
      for (i = 0; i < xl; i++) {
        if (arrNo.indexOf(i)) {
          x[i].classList.add("select-hide");
        }
      }
    }
    
    document.addEventListener("click", closeAllSelect);
    </script>

</body>
</html>