<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/aos.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% block content %}{% endblock %}
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/page_all.js"></script>
<script src="./assets/js/aos.js"></script>

<script>
$(document).ready(function () {
    setTimeout(function(){
        $('h1 span:nth-child(2)').addClass('show');
    },1800);
    setTimeout(function(){
        $('h1 span:nth-child(3)').addClass('show');
    },3200);
    setTimeout(function(){
        $('h1 span:nth-child(4)').addClass('show');
    },5000);
    setTimeout(function(){
        $('h1 span:nth-child(5)').addClass('show');
    },6200);
    setTimeout(function(){
        $('h1 span:nth-child(6)').addClass('show');
    },8000);

    //autoplay video on mobile
    Object.defineProperty(HTMLMediaElement.prototype, 'playing', {
        get: function () {
            return !!(this.currentTime > 0 && !this.paused && !this.ended && this.readyState > 2);
        }
    });

    var video = document.querySelectorAll('video');
    window.addEventListener('touchstart', function videoStart() {
        video.play();
        this.removeEventListener('touchstart', videoStart);
    });

    AOS.init({
        easing: 'ease-out-back',
        duration: 1000,
        once: true,
        offset: 100,
    });
});

</script>

</body>
</html>