<main>
    <div class="oxanon-category mh-sm pr">
        <div class="container">
            <div class="box-title">
                <h2 class="title">Bridge</h2>
            </div>
            <div class="box-content">
                <form action="" method="">
                    <div class="sim-card flex">
                        <button type="button" class="btn-sim"></button>
                    </div>
                    <div class="box-input flex-lc">
                        <label>From</label>
                        <div class="box-select box-select-form pr" data-toggle="modal" data-target="#modal-select-from">
                            <div class="selected flex-lc">
                                <div class="icon sm"><img src="./assets/img/btc-1.svg" alt=""></div>
                                <span class="txt txt-lg font-weight-bold ml-2">BTC</span>
                            </div>
                        </div>
                    </div>
                    <div class="flex-center">
                        <button type="button" class="btn-transfer"></button>
                    </div>
                    <div class="form-row flex">
                        <div class="box-input flex-lc">
                            <label>To</label>
                            <div class="box-select box-select-to pr" data-toggle="modal" data-target="#modal-select-to">
                                <div class="selected flex-lc">
                                    <div class="icon sm"><img src="./assets/img/eth.svg" alt=""></div>
                                    <span class="txt txt-lg font-weight-bold ml-2">ETH</span>
                                </div>
                            </div>
                        </div>
                        <div class="box-input flex-lc">
                            <label>Asset</label>
                            <div class="box-select box-select-asset pr" data-toggle="modal" data-target="#modal-select-asset">
                                <div class="selected flex-lc">
                                    <div class="icon sm"><img src="./assets/img/ordi.svg" alt=""></div>
                                    <span class="txt txt-lg font-weight-bold ml-2">Ordi</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="checkbox">
                        <label class="pr txt-xs flex">
                            <input type="checkbox">
                            <div class="checked"></div>
                            I have learned that service is only available to non-U.S. persons and entities.
                        </label>
                    </div>
                    <button type="submit" class="btn-submit txt-sm">Transfer</button>
                    <div class="estimated text-center">Estimated 3 blocks to confirm.</div>
                </form>
            </div>
        </div>
    </div>
</main>

<div class="modal lg fade" id="modal-address">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h2 class="title mb-3">Reserved Address</h2>
                <p class="txt-md">This is the token reserved contract address, please do not transfer directly through the CEX, you will not be able to confirm the source of funds, and you will not be responsible for lost funds.</p>
            </div>
            <div class="modal-body">
                <div class="box-copy flex-lc pr mb-md">
                    <div class="val-copy">bc1pyyms2ssr0hagy5j50r5n689e6ye0626v3c98j5fw0jk6tz3vrgts7nt56g</div>
                    <button type="button" class="btn-copy"></button>
                </div>
                <button type="button" class="btn-pr txt-sm w-100" data-dismiss="modal">I know</button>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-token fade" id="modal-select-from">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title txt-sm">Select Token</h5>
            <form action="" class="form-search mb-md">
                <input type="text" name="" id="search-token" placeholder="Search name or paste adress">
            </form>
            <ul class="token-list token-list-form">
                <li data-icon="./assets/img/oxanon.svg" data-txt="ANON">
                    <div class="icon"><img src="./assets/img/oxanon.svg" alt=""></div>
                    <div class="pl-2">
                        <div class="name font-weight-bold">ANON</div>
                        <div class="full_name">Anon</div>
                    </div>
                </li>
                <li data-icon="./assets/img/eth.svg" data-txt="ETH">
                    <div class="icon"><img src="./assets/img/eth.svg" alt=""></div>
                    <div class="pl-2">
                        <div class="name font-weight-bold">ETH</div>
                        <div class="full_name">Ethereum</div>
                    </div>
                </li>
                <li data-icon="./assets/img/btc.svg" data-txt="BTC">
                    <div class="icon"><img src="./assets/img/btc.svg" alt=""></div>
                    <div class="pl-2">
                        <div class="name font-weight-bold">BTC</div>
                        <div class="full_name">Bitcoin</div>
                    </div>
                </li>
                <li data-icon="./assets/img/utdt.svg" data-txt="UTDT">
                    <div class="icon"><img src="./assets/img/utdt.svg" alt=""></div>
                    <div class="pl-2">
                        <div class="name font-weight-bold">UTDT</div>
                        <div class="full_name">Tether</div>
                    </div>
                </li>
                <li data-icon="./assets/img/eth.svg" data-txt="ETH">
                    <div class="icon"><img src="./assets/img/eth.svg" alt=""></div>
                    <div class="pl-2">
                        <div class="name font-weight-bold">ETH</div>
                        <div class="full_name">Ethereum</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="modal modal-token fade" id="modal-select-to">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title txt-sm">Select Token</h5>
            <form action="" class="form-search mb-md">
                <input type="text" name="" class="search-token" placeholder="Search name or paste adress">
            </form>
            <ul class="token-list token-list-to">
                <li data-icon="./assets/img/oxanon.svg" data-txt="ANON">
                    <div class="icon"><img src="./assets/img/oxanon.svg" alt=""></div>
                    <div class="pl-2">
                        <div class="name font-weight-bold">ANON</div>
                        <div class="full_name">Anon</div>
                    </div>
                </li>
                <li data-icon="./assets/img/eth.svg" data-txt="ETH">
                    <div class="icon"><img src="./assets/img/eth.svg" alt=""></div>
                    <div class="pl-2">
                        <div class="name font-weight-bold">ETH</div>
                        <div class="full_name">Ethereum</div>
                    </div>
                </li>
                <li data-icon="./assets/img/btc.svg" data-txt="BTC">
                    <div class="icon"><img src="./assets/img/btc.svg" alt=""></div>
                    <div class="pl-2">
                        <div class="name font-weight-bold">BTC</div>
                        <div class="full_name">Bitcoin</div>
                    </div>
                </li>
                <li data-icon="./assets/img/utdt.svg" data-txt="UTDT">
                    <div class="icon"><img src="./assets/img/utdt.svg" alt=""></div>
                    <div class="pl-2">
                        <div class="name font-weight-bold">UTDT</div>
                        <div class="full_name">Tether</div>
                    </div>
                </li>
                <li data-icon="./assets/img/eth.svg" data-txt="ETH">
                    <div class="icon"><img src="./assets/img/eth.svg" alt=""></div>
                    <div class="pl-2">
                        <div class="name font-weight-bold">ETH</div>
                        <div class="full_name">Ethereum</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="modal modal-token fade" id="modal-select-asset">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title txt-sm">Select Token</h5>
            <form action="" class="form-search mb-md">
                <input type="text" name="" id="search-token" placeholder="Search name or paste adress">
            </form>
            <ul class="token-list token-list-asset">
                <li data-icon="./assets/img/oxanon.svg" data-txt="ANON">
                    <div class="icon"><img src="./assets/img/oxanon.svg" alt=""></div>
                    <div class="pl-2">
                        <div class="name font-weight-bold">ANON</div>
                        <div class="full_name">Anon</div>
                    </div>
                </li>
                <li data-icon="./assets/img/eth.svg" data-txt="ETH">
                    <div class="icon"><img src="./assets/img/eth.svg" alt=""></div>
                    <div class="pl-2">
                        <div class="name font-weight-bold">ETH</div>
                        <div class="full_name">Ethereum</div>
                    </div>
                </li>
                <li data-icon="./assets/img/btc.svg" data-txt="BTC">
                    <div class="icon"><img src="./assets/img/btc.svg" alt=""></div>
                    <div class="pl-2">
                        <div class="name font-weight-bold">BTC</div>
                        <div class="full_name">Bitcoin</div>
                    </div>
                </li>
                <li data-icon="./assets/img/utdt.svg" data-txt="UTDT">
                    <div class="icon"><img src="./assets/img/utdt.svg" alt=""></div>
                    <div class="pl-2">
                        <div class="name font-weight-bold">UTDT</div>
                        <div class="full_name">Tether</div>
                    </div>
                </li>
                <li data-icon="./assets/img/eth.svg" data-txt="ETH">
                    <div class="icon"><img src="./assets/img/eth.svg" alt=""></div>
                    <div class="pl-2">
                        <div class="name font-weight-bold">ETH</div>
                        <div class="full_name">Ethereum</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>