<main>
    <div class="oxanon-category mh-sm pr">
        <div class="container">
            <div class="reward flex">
                <div class="item">
                    <h3 class="txt-lg mb-md">Total Reward Paid </h3>
                    <div class="amount">$1.xxx9</div>
                </div>
                <div class="item">
                    <h3 class="txt-lg mb-3">Your Reward</h3>
                    <div class="exchange mb-md">
                        <input type="text" value="1,xxx9" readonly>
                        <span>ETH</span>
                    </div>
                    <button type="button" class="btn-pr btn-claim">claim</button>
                </div>
            </div>
        </div>
    </div>
</main>