<main>
    <div class="oxanon-category mh-sm pr">
        <div class="container">
            <div class="box-title">
                <h2 class="title">Private Transaction</h2>
            </div>
            <ul class="nav tab flex-center">
                <li><a href="#deposit" title="" data-toggle="tab" class="active">Deposit</a></li>
                <li><a href="#withdraw" title="" data-toggle="tab">Withdraw</a></li>
                <li><a href="#swap" title="" data-toggle="tab">Swap</a></li>
            </ul>
            <div class="tab-content">
                <div class="header flex-lc">
                    <div class="box-tooltip pr">
                        <button type="button"><i class="icon icon-clock"></i></button>
                        <div class="content">
                            <p>Help</p>
                        </div>
                    </div>
                    <div class="box-tooltip ml-3 pr">
                        <button type="button"><i class="icon icon-info"></i></button>
                        <div class="content">
                            <p>Secret keys generated in this session. Refreshing window will cause the keys to vanish</p>
                        </div>
                    </div>
                </div>
                <div id="deposit" class="tab-pane fade show active">
                    <div class="deposit-amout">
                        <h3 class="txt-sm txt-green">Deposit Amount</h3>
                        <div class="amout-list">
                            <button type="button">0.1 ETH</button>
                            <button type="button">0.5 ETH</button>
                            <button type="button">1.0 ETH</button>
                            <button type="button">5.0 ETH</button>
                            <button type="button">0.1 ETH</button>
                            <button type="button">0.5 ETH</button>
                            <button type="button">1.0 ETH</button>
                            <button type="button">5.0 ETH</button>
                        </div>
                        <button type="button" class="btn-pr btn-deposit w-100">Deposit (0.1 ETH)</button>
                    </div>
                </div>
                <div id="withdraw" class="tab-pane fade">
                    <div class="secret-key mb-4 b-1">
                        <input type="text" name="" placeholder="Secret key">
                    </div>
                    <div class="box-coin mb-4 b-1">
                        <div class="flex-lc">
                            <input type="number" value="0">
                            <div class="coin flex-lc">
                                <img src="./assets/img/eth.svg" alt="">
                                <span class="txt-lg font-weight-bold ml-3">ETH</span>
                            </div>
                        </div>
                        <div class="usd txt-md">$ 0</div>
                    </div>
                    <div class="code mb-4 b-1">
                        <span>0xb179E025f288614cd4c32fEF5893D0a5F20</span>
                    </div>
                    <div class="mb-4 flex-lc pr">
                        <h4 class="txt-md mr-2 txt-light">Use Relayer</h4>
                        <div class="box-tooltip lg">
                            <button type="button" class="flex-lc txt-md txt-light"><i class="icon icon-info"></i> :</button>
                            <div class="content">
                                <p>To obscure the from address during withdrawals and swaps, a fee of 0.3% plus the prevalling gas fees is charged for utilizing this service.</p>
                            </div>
                        </div>
                        <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="info mb-4 b-1">
                        <h4>MORE INFORMATION:</h4>
                        <ul class="txt-md">
                            <li>
                                <p>Est. Gas fee</p>
                                <span>0.000 ETH</span>
                            </li>
                            <li>
                                <p c>Est. Gas fee (USD)</p>
                                <span>$0.000</span>
                            </li>
                            <li>
                                <p>Anon Fee</p>
                                <span>0.3%</span>
                            </li>
                        </ul>
                    </div>
                    <button type="button" class="btn-pr disabled w-100">Withdraw</button>
                </div>
                <div id="swap" class="tab-pane fade">
                    <div class="secret-key mb-4 b-1">
                        <input type="text" name="" placeholder="Secret key">
                    </div>
                    <div class="box-coin mb-4 b-1">
                        <div class="flex-lc">
                            <input type="number" value="0">
                            <div class="coin flex-lc">
                                <img src="./assets/img/eth.svg" alt="">
                                <span class="txt-lg font-weight-bold ml-3">ETH</span>
                            </div>
                        </div>
                        <div class="usd txt-md">$ 0</div>
                    </div>
                    <div class="box-coin mb-4 b-1">
                        <div class="flex-lc">
                            <input type="number" value="0">
                            <div class="box-select pr" data-toggle="modal" data-target="#modal-select-token">
                                <div class="selected flex-lc">
                                    <div class="icon"><img src="./assets/img/oxanon.svg" alt=""></div>
                                    <span class="txt txt-lg font-weight-bold ml-2">Anon</span>
                                </div>
                            </div>
                        </div>
                        <div class="usd txt-md">$ 0</div>
                    </div>
                    <div class="mb-4 flex-lc pr">
                        <h4 class="txt-md mr-2 txt-light">Max Slippage</h4>
                        <div class="box-tooltip lg">
                            <button type="button" class="flex-lc txt-md txt-light"><i class="icon icon-info"></i></button>
                            <div class="content">
                                <p>During the swap if the price changes by more than this %, your transaction will revert. The maximum allowed slippage is 20%.</p>
                            </div>
                        </div>
                        <button type="button" data-toggle="dropdown" class="dropdown-select txt-md flex-lc pr">0.50%</button>
                        <ul class="dropdown-content flex-center">
                            <li><button type="button" data-select="0.05%">0.05%</button></li>
                            <li><button type="button" data-select="0.1%">0.1%</button></li>
                            <li><button type="button" data-select="0.5%" class="active">0.5%</button></li>
                            <li><button type="button" data-select="1%">1%</button></li>
                            <li>
                                <input type="number" placeholder="Custom">
                                <span>%</span>
                            </li>
                        </ul>
                    </div>
                    <div class="code mb-4 b-1">
                        <span>0xb179E025f288614cd4c32fEF5893D0a5F20</span>
                    </div>
                    <div class="mb-4 flex-lc pr">
                        <h4 class="txt-md mr-2 txt-light">Use Relayer</h4>
                        <div class="box-tooltip lg">
                            <button type="button" class="flex-lc txt-md txt-light"><i class="icon icon-info"></i> :</button>
                            <div class="content">
                                <p>To obscure the from address during withdrawals and swaps, a fee of 0.3% plus the prevalling gas fees is charged for utilizing this service.</p>
                            </div>
                        </div>
                        <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="info mb-4 b-1">
                        <h4>MORE INFORMATION:</h4>
                        <ul class="txt-md">
                            <li>
                                <p>Est. Gas fee</p>
                                <span>0.000 ETH</span>
                            </li>
                            <li>
                                <p c>Est. Gas fee (USD)</p>
                                <span>$0.000</span>
                            </li>
                            <li>
                                <p>Anon Fee</p>
                                <span>0.3%</span>
                            </li>
                        </ul>
                    </div>
                    <button type="button" class="btn-pr disabled w-100">Quote</button>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="modal fade" id="modal-confirm">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title txt-sm">Send Transaction!</h5>
            <div class="text txt-md txt-light">The transaction will be processed by the relayer to enhance privacy. By clicking 'Confirm,' you are initiating the immediate execution of the withdraw/swap for your funds. Please ensure that the recipient address is correct before proceeding.</div>
            <div class="box-btn flex">
                <button type="button" class="btn-pr flex-center" data-dismiss="modal" data-toggle="modal" data-target="#modal-completed">Confirm!</button>
                <button type="button" class="btn-sub flex-center" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-completed" id="modal-completed">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title txt-sm">Transaction completed!</h5>
            <div class="text txt-md txt-light mb-md">Please keep this secret key safe to ensure access to your deposited funds.</div>
            <div class="encode txt-md">0x0.ai:100000000000000000:0x02df:0x...</div>
            <div class="box-btn flex mb-md">
                <button type="button" class="btn-pr flex-center">Copy to clipboard</button>
                <button type="button" class="btn-pr flex-center">Download as .txt</button>
            </div>
            <div class="warning txt-md mb-md">Failure to retain this secret key will result in the permanent loss of your assets!</div>
            <button type="button" class="btn-pr w-100 flex-center">I have a copy of the secret key!</button>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-select-token">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title txt-sm">Select Token</h5>
            <form action="" class="form-search mb-md">
                <input type="text" name="" id="search-token" placeholder="Search name or paste adress">
            </form>
            <ul id="token-list" class="token-list">
                <li data-icon="./assets/img/oxanon.svg" data-txt="ANON">
                    <div class="icon"><img src="./assets/img/oxanon.svg" alt=""></div>
                    <div class="pl-2">
                        <div class="name font-weight-bold">ANON</div>
                        <div class="full_name">Anon</div>
                    </div>
                </li>
                <li data-icon="./assets/img/eth.svg" data-txt="ETH">
                    <div class="icon"><img src="./assets/img/eth.svg" alt=""></div>
                    <div class="pl-2">
                        <div class="name font-weight-bold">ETH</div>
                        <div class="full_name">Ethereum</div>
                    </div>
                </li>
                <li data-icon="./assets/img/btc.svg" data-txt="BTC">
                    <div class="icon"><img src="./assets/img/btc.svg" alt=""></div>
                    <div class="pl-2">
                        <div class="name font-weight-bold">BTC</div>
                        <div class="full_name">Bitcoin</div>
                    </div>
                </li>
                <li data-icon="./assets/img/utdt.svg" data-txt="UTDT">
                    <div class="icon"><img src="./assets/img/utdt.svg" alt=""></div>
                    <div class="pl-2">
                        <div class="name font-weight-bold">UTDT</div>
                        <div class="full_name">Tether</div>
                    </div>
                </li>
                <li data-icon="./assets/img/eth.svg" data-txt="ETH">
                    <div class="icon"><img src="./assets/img/eth.svg" alt=""></div>
                    <div class="pl-2">
                        <div class="name font-weight-bold">ETH</div>
                        <div class="full_name">Ethereum</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>