<main>
    <div class="oxanon-category mh-sm pr">
        <div class="page-history">
            <div class="container">
                <div class="box-title">
                    <h2 class="title">History</h2>
                </div>
                <div class="box-table">
                    <table>
                        <thead>
                        <tr>
                            <th>Time</th>
                            <th>Amount</th>
                            <th>Fee</th>
                            <th>Transfer TXID</th>
                            <th>Receive TXID</th>
                            <th>Status</th>
                            <th>
                                <div class="flex-lc">
                                    <p>Operation</p>
                                    <div class="box-tooltip ml-2 pr">
                                        <button type="button" class="mt-2"><i class="icon icon-q"></i></button>
                                        <div class="content">
                                            <p>Secret keys generated in this session. Refreshing window will cause the keys to vanish</p>
                                        </div>
                                    </div>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><p><span>2023.12.21</span><span>2023.12.21</span></p></td>
                            <td>1,984.0 TURT</td>
                            <td>16.0</td>
                            <td>
                                <div class="coin flex-lc">
                                    <img src="./assets/img/btc-1.svg" alt="">
                                    <span class="pl-2">1,984.0</span>
                                </div>
                            </td>
                            <td>
                                <div class="coin flex-lc">
                                    <img src="./assets/img/eth.svg" alt="">
                                    <span class="pl-2">1,984.0</span>
                                </div>
                            </td>
                            <td><div class="complete">Complete</div></td>
                            <td><a href="" title="" class="btn-withdraw flex-center" data-toggle="modal" data-target="#modal-withdraw">Withdraw</a></td>
                        </tr>
                        <tr>
                            <td><p><span>2023.12.21</span><span>2023.12.21</span></p></td>
                            <td>1,984.0 TURT</td>
                            <td>16.0</td>
                            <td>
                                <div class="coin flex-lc">
                                    <img src="./assets/img/btc-1.svg" alt="">
                                    <span class="pl-2">1,984.0</span>
                                </div>
                            </td>
                            <td>
                                <div class="coin flex-lc">
                                    <img src="./assets/img/eth.svg" alt="">
                                    <span class="pl-2">1,984.0</span>
                                </div>
                            </td>
                            <td><div class="complete">Complete</div></td>
                            <td><a href="" title="" class="btn-withdraw flex-center" data-toggle="modal" data-target="#modal-withdraw">Withdraw</a></td>
                        </tr>
                        <tr>
                            <td><p><span>2023.12.21</span><span>2023.12.21</span></p></td>
                            <td>1,984.0 TURT</td>
                            <td>16.0</td>
                            <td>
                                <div class="coin flex-lc">
                                    <img src="./assets/img/btc-1.svg" alt="">
                                    <span class="pl-2">1,984.0</span>
                                </div>
                            </td>
                            <td>
                                <div class="coin flex-lc">
                                    <img src="./assets/img/eth.svg" alt="">
                                    <span class="pl-2">1,984.0</span>
                                </div>
                            </td>
                            <td><div class="wait">Wait mint</div></td>
                            <td><a href="" title="" class="btn-withdraw flex-center active" data-toggle="modal" data-target="#modal-withdraw">Withdraw</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="modal modal-withdraw fade" id="modal-withdraw">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h5 class="title">Withdraw</h5>
            </div>
            <div class="modal-body">
                <div class="box-content">
                    <form action="" method="">
                        <div class="box-input flex-lc mb-md">
                            <label>From</label>
                            <div class="box-select box-select-form pr" data-toggle="modal" data-target="#modal-select-token">
                                <div class="selected flex-lc">
                                    <div class="icon sm"><img src="./assets/img/bnb.svg" alt=""></div>
                                    <span class="txt txt-lg font-weight-bold ml-2">BNB</span>
                                </div>
                            </div>
                        </div>
                        <div class="box-input flex-lc mb-md">
                            <h4>You will receive</h4>
                            <div class="coin-list flex-lc">
                                <div class="eth">0.992  ETH</div>
                                <div class="brc">BRC 20</div>
                            </div>
                        </div>
                        <div class="box-input flex-lc mb-md">
                            <input type="text" name="" placeholder="Enter Recipicent Address">
                        </div>
                        <div class="form-group justify-content-between flex-lc mb-md">
                            <label>Recipient Address</label>
                            <input type="text" class="" placeholder="--">
                        </div>
                        <button type="submit" class="btn-pr w-100 txt-sm">Switch Network</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-token fade" id="modal-select-token">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title txt-sm">Select Token</h5>
            <form action="" class="form-search mb-md">
                <input type="text" name="" id="search-token" placeholder="Search name or paste adress">
            </form>
            <ul class="token-list token-list-form">
                <li data-icon="./assets/img/oxanon.svg" data-txt="ANON">
                    <div class="icon"><img src="./assets/img/oxanon.svg" alt=""></div>
                    <div class="pl-2">
                        <div class="name font-weight-bold">ANON</div>
                        <div class="full_name">Anon</div>
                    </div>
                </li>
                <li data-icon="./assets/img/eth.svg" data-txt="ETH">
                    <div class="icon"><img src="./assets/img/eth.svg" alt=""></div>
                    <div class="pl-2">
                        <div class="name font-weight-bold">ETH</div>
                        <div class="full_name">Ethereum</div>
                    </div>
                </li>
                <li data-icon="./assets/img/btc.svg" data-txt="BTC">
                    <div class="icon"><img src="./assets/img/btc.svg" alt=""></div>
                    <div class="pl-2">
                        <div class="name font-weight-bold">BTC</div>
                        <div class="full_name">Bitcoin</div>
                    </div>
                </li>
                <li data-icon="./assets/img/utdt.svg" data-txt="UTDT">
                    <div class="icon"><img src="./assets/img/utdt.svg" alt=""></div>
                    <div class="pl-2">
                        <div class="name font-weight-bold">UTDT</div>
                        <div class="full_name">Tether</div>
                    </div>
                </li>
                <li data-icon="./assets/img/eth.svg" data-txt="ETH">
                    <div class="icon"><img src="./assets/img/eth.svg" alt=""></div>
                    <div class="pl-2">
                        <div class="name font-weight-bold">ETH</div>
                        <div class="full_name">Ethereum</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
