<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggle" type="button"><span></span></button>
            <a href="" class="logo"><img src="./assets/img/logo.svg" alt=""></a>
            <div class="navbar-collapse">
                <div class="social flex-lc">
                    <a href="" title="" class="twitter">twitter</a>
                    <a href="" title="" class="discord">discord</a>
                    <a href="" title="" class="telegram">telegram</a>
                </div>
            </div>
            <a href="" title="" class="btn-launch txt-sm">LaunchDApp</a>
        </nav>
    </div>
</header>
<main>
    <div class="oxanon-home-s1">
        <div class="container">
            <div class="content">
                <h1 class="desktop">
                    <span>A complete privacy trading</span>
                    <span>solution and leasing</span>
                    <span>liquidity for crypto users</span>
                </h1>
                <h1 class="mobile">
                    <span>A complete</span>
                    <span>privacy trading</span>
                    <span>solution and</span>
                    <span>leasing</span>
                    <span>liquidity for</span>
                    <span>crypto users</span>
                </h1>
                <div class="contract txt-lg">Contract: n/a</div>
            </div>
        </div>
        <div class="box-video">
            <video muted autoplay loop playsinline>
                <source src="./assets/img/glitch-video.mp4" type="video/mp4">
            </video>
        </div>
    </div>
    <div class="oxanon-home-s2">
        <div class="container">
            <div class="content">
                <h2 class="title">Core Value</h2>
                <div class="core-value">
                    <div class="item" data-aos="fade-up">
                        <h4>Decentralization:</h4>
                        <p>0xANON thrives on decentralization, smart contract integration. Decentralization offers resilience against censorship. It fosters trustlessness, global accessibility, and immutability. 0xANON ensures user privacy and provides a dependable platform for secure transactions and value preservation.</p>
                    </div>
                    <div class="item" data-aos="fade-up" data-aos-delay="300">
                        <h4>User's Privacy:</h4>
                        <p>Privacy stands as a fundamental cornerstone, underscoring the safeguarding of user data and the secrecy of transactions. It places a premium on guaranteeing that individuals maintain complete authority over their personal details. State-of-the-art privacy technologies and protocols are integrated into the 0xANON environment, facilitating secure and confidential transactions.</p>
                    </div>
                    <div class="item" data-aos="fade-up" data-aos-delay="600">
                        <h4>Security:</h4>
                        <p>We prioritize security above all else. We maintain a strong ecosystem to protect user assets and information. Through the implementation of rigorous security measures and protocols, we effectively reduce potential threats and vulnerabilities. Our unwavering commitment to security instills confidence and trust in users when participating in platform transactions.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="oxanon-home-s3">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="content" data-aos="fade-up">
                        <h2 class="title mb-md">Private Transaction</h2>
                        <div class="text">
                            <p>The privacy-focused DEX aggregator is a utility enabling users to access multiple decentralized exchanges (DEXs) through a unified platform, offering advanced privacy and security enhancements. DEXs, decentralized trading platforms that operate without centralized control, are recognized for their strong security and privacy measures.</p>
                            <p>0xANON also offers users the ability to analyze token contract transactions. If there are any suspicions regarding the contract, a warning will be sent to the user before the transaction is initiated.  </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box-video">
                        <video muted autoplay loop playsinline>
                            <source src="./assets/img/privacy.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="oxanon-home-s4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="box-video">
                        <video muted autoplay loop playsinline>
                            <source src="./assets/img/liquidity.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="content" data-aos="fade-up">
                        <h2 class="title mb-md">Liquidity Leasing</h2>
                        <div class="text">
                            <p>0xANON introduces an innovative concept of liquidity leasing, offering users the opportunity to earn consistent revenue. This unique feature allows users to securely profit from their deposits, with the timeframe for earning being open-ended. In doing so, 0xANON not only benefits its users but also generates revenue for itself.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="oxanon-home-s5">
        <div class="container">
            <h2 class="title">Roadmap</h2>
            <div class="roadmap">
                <div class="item" data-aos="fade-right">
                    <h4>Phase 1</h4>
                    <ul>
                        <li>Product Features & Concept</li>
                        <li>Website & Whitepaper release</li>
                        <li>Token launch on Uniswap v2</li>
                        <li>Users Onboard</li>
                        <li>Hard Marketing Campaign</li>
                        <li>Buyback & Burn Event</li>
                    </ul>
                </div>
                <div class="item" data-aos="fade-right" data-aos-delay="300">
                    <h4>Phase 2</h4>
                    <ul>
                        <li>Liquidity Leasing v1 official launch</li>
                        <li>Feedback & Update</li>
                        <li>Getting Big KOL support</li>
                        <li>500+ Users</li>
                    </ul>
                </div>
                <div class="item" data-aos="fade-right" data-aos-delay="600">
                    <h4>Phase 3</h4>
                    <ul>
                        <li>Privacy Transaction for Developers</li>
                        <li>Liquidity Leasing v2</li>
                        <li>Revenue Distribution for holders</li>
                        <li>DAO Governance open</li>
                        <li>1000+ users</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="container">
        <h3 class="text-center">Join Our Community!</h3>
        <div class="social flex-lc">
            <a href="" title="" class="telegram">telegram</a>
            <a href="" title="" class="discord">discord</a>
            <a href="" title="" class="twitter">twitter</a>
            <a href="" title="" class="youtube">youtube</a>
        </div>
    </div>
</footer>