<main>
    <div class="oxanon-category mh-md pr">
        <div class="container">
            <div class="box-title">
                <h2 class="title">Liquidity Leasing</h2>
            </div>
            <div class="box-form">
                <div class="form-list">
                    <div class="form">
                        <div class="header">
                            <h3 class="txt-sm txt-green mb-1">Basic Token Info</h3>
                            <p class="txt-md txt-light">Essential details about your token.</p>
                        </div>
                        <form action="" method="">
                            <div class="form-group">
                                <label>Smart Contract Name</label>
                                <input type="text" name="" placeholder="liquidityprotocol">
                            </div>
                            <div class="form-group">
                                <label>Token Name</label>
                                <input type="text" name="" placeholder="LiquidityProtocol">
                            </div>
                            <div class="form-group">
                                <label>Symbol</label>
                                <input type="text" name="" placeholder="LP">
                            </div>
                            <div class="form-group">
                                <label>Total Supply</label>
                                <input type="text" name="" placeholder="1000">
                            </div>
                        </form>
                    </div>
                    <div class="form">
                        <div class="header">
                            <h3 class="txt-sm txt-green mb-1">Token Details</h3>
                            <p class="txt-md txt-light">Settings related to token transactions.</p>
                        </div>
                        <form action="" method="">
                            <div class="form-group">
                                <label>Contract Sell</label>
                                <input type="text" name="" value="20%">
                                <div class="text">Contract Sell Vallue: 0</div>
                            </div>
                            <div class="form-group">
                                <label>Max Buy</label>
                                <input type="text" name="" value="20%">
                                <div class="text">Max Buy Vallue: 0</div>
                            </div>
                            <div class="form-group">
                                <label>Max Sell</label>
                                <input type="text" name="" value="20%">
                                <div class="text">Max Sell Vallue: 0</div>
                            </div>
                            <div class="form-group">
                                <label>Max Wallet</label>
                                <input type="text" name="" value="20%">
                                <div class="text">Max Wallet Vallue: 0</div>
                            </div>
                        </form>
                    </div>
                    <div class="form">
                        <div class="header">
                            <h3 class="txt-sm txt-green mb-1">Token Details</h3>
                            <p class="txt-md txt-light">Wallet addresses for marketing, development, and team.</p>
                        </div>
                        <form action="" method="">
                            <div class="form-group">
                                <label>Marketing Wallet</label>
                                <input type="text" name="" value="0x...">
                            </div>
                            <div class="form-group">
                                <label>Development Wallet</label>
                                <input type="text" name="" value="0x...">
                            </div>
                            <div class="form-group">
                                <label>Team Wallet</label>
                                <input type="text" name="" value="0x...">
                            </div>
                        </form>
                    </div>
                    <div class="form">
                        <div class="header">
                            <h3 class="txt-sm txt-green mb-1">Taxes</h3>
                            <p class="txt-md txt-light">Taxes applied for different transactions.</p>
                        </div>
                        <form action="" method="">
                            <div class="form-group">
                                <label>Reflection Tax</label>
                                <input type="text" name="" value="2%">
                            </div>
                            <div class="form-group">
                                <label>Marketing Tax</label>
                                <input type="text" name="" value="2%">
                            </div>
                            <div class="form-group">
                                <label>Liquidity Tax</label>
                                <input type="text" name="" value="2%">
                            </div>
                            <div class="form-group">
                                <label>Development Tax</label>
                                <input type="text" name="" value="2%">
                            </div>
                            <div class="form-group">
                                <label>Team Tax</label>
                                <input type="text" name="" value="2%">
                            </div>
                        </form>
                    </div>
                    <div class="form">
                        <div class="header">
                            <h3 class="txt-sm txt-green mb-1">Socials</h3>
                            <p class="txt-md txt-light">Connect with your community through these platforms.</p>
                        </div>
                        <form action="" method="">
                            <div class="form-group">
                                <label>Website</label>
                                <input type="text" name="" placeholder="www...">
                            </div>
                            <div class="form-group">
                                <label>Telegram</label>
                                <input type="text" name="" placeholder="...tg">
                            </div>
                            <div class="form-group">
                                <label>X Twitter</label>
                                <input type="text" name="" placeholder="...com">
                            </div>
                            <label class="checkbox flex-lc">
                                <input type="checkbox" checked>
                                <span class="checked"></span>
                                Verify contract automatically
                            </label>
                        </form>
                    </div>
                </div>
                <div class="box-btn flex">
                    <button type="button" class="btn-prev txt-sm">Previous</button>
                    <button type="button" class="btn-pr btn-next">Next</button>
                    <button type="button" class="btn-pr btn-deploy">Deploy</button>
                </div>
            </div>
        </div>
    </div>
</main>