<main>
    <div class="oxanon-category mh-sm pr">
        <div class="container">
            <div class="notifi text-center">
                <p class="txt-sm">Your address dose not qualify for any rewards yet, please await the next snapshot!</p>
            </div>
        </div>
    </div>
</main>