<main>
    <div class="oxanon-category mh-sm pr">
        <div class="container">
            <div class="notifi text-center">
                <h2>You are not authenticated</h2>
                <p class="txt-md mb-md">Please connect with your wallet to check your reward</p>
                <a href="" title="" class="btn-pr">Connect Wallet</a>
            </div>
        </div>
    </div>
</main>