<main>
    <div class="oxanon-category w-md nofixed pr">
        <div class="container">
            <div class="box-title">
                <h2 class="title">Offer Detail</h2>
            </div>
            <div class="offer-detail">
                <div class="item bg-sh">
                    <div class="header flex-lc justify-between">
                        <div class="coin flex-lc">
                            <div class="coin__img"><img src="./assets/img/bonk.png" alt=""></div>
                            <div class="coin__info">
                                <div class="name"><span class="txt-sm">BONK</span> <span class="txt-xs">#2063</span></div>
                                <div class="cd flex-lc txt-xs"><span>CA:DezX...B345</span><i class="arrow-up-right"></i></div>
                            </div>
                        </div>
                        <div class="circle percentage-0">
                            <span>0%</span>
                            <div class="percentage-bar"></div>
                        </div>
                    </div>
                    <h2 class="txt-sm">YOUR ACTION</h2>
                    <div class="box-action">
                        <div class="item">
                            <div class="flex-lc mb-3">
                                <h4><span class="buying">Buying</span></h4>
                                <div class="box-tooltip flex-lc mt-1 pr">
                                    <button type="button"><i class="icon icon-info"></i></button>
                                    <div class="content">
                                        <p>ss</p>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-lc justify-between">
                                <div class="amount txt-lg">10,000,000</div>
                                <div class="coin"><img src="./assets/img/bonk.png" width="28" alt=""></div>
                            </div>
                            <div class="box-range flex-lc pr">
                                <input type="range" min="1" max="100" value="90" class="slider-range" id="buying-range" style="background-size: 90% 100%;">
                                <p class="txt-xs"><span id="value"></span>%</p>
                                <button type="button" class="txt-xs">MAX</button>
                            </div>
                        </div>
                        <div class="item">
                            <div class="flex-lc mb-3">
                                <h4>PAY AMOUNT</h4>
                                <div class="box-tooltip flex-lc pr">
                                    <button type="button"><i class="icon icon-info"></i></button>
                                </div>
                            </div>
                            <div class="flex justify-between">
                                <div class="amount">
                                    <span class="txt-lg">180</span>
                                    <span class="txt-md txt-gray">$180</span>
                                </div>
                                <div class="coin"><img src="./assets/img/utdt-1.svg" width="28" alt=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="flex-lc justify-between mt-4">
                        <div class="fee flex-lc txt-xs">Platform fee (0.1%): 0.18 USDT. <a href="">More Info</a></div>
                        <button type="button" class="btn-connect txt-sm">Connect Wallet</button>
                    </div>
                </div>
                <div class="item bg-sh">
                    <h2 class="txt-sm">OFFER DETAILS</h2>
                    <ul class="offer-list">
                        <li>
                            <div class="flex-lc">
                                <h5>Offer</h5>
                                <div class="box-tooltip flex-lc pr">
                                    <button type="button"><i class="icon icon-info"></i></button>
                                    <div class="content">

                                    </div>
                                </div>
                            </div>
                            <div class="coin flex-lc">
                                <span>10,000,000</span>
                                <img src="./assets/img/bonk.png" width="20" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="flex-lc">
                                <h5>Filled Amount</h5>
                                <div class="box-tooltip flex-lc pr">
                                    <button type="button"><i class="icon icon-info"></i></button>
                                    <div class="content">

                                    </div>
                                </div>
                            </div>
                            <div class="coin flex-lc">
                                <span>0</span>
                                <img src="./assets/img/bonk.png" width="20" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="flex-lc">
                                <h5>For</h5>
                                <div class="box-tooltip flex-lc pr">
                                    <button type="button"><i class="icon icon-info"></i></button>
                                    <div class="content">

                                    </div>
                                </div>
                            </div>
                            <div class="coin flex-lc">
                                <span>180</span>
                                <img src="./assets/img/utdt-1.svg" width="20" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="flex-lc">
                                <h5>Remaining Amount</h5>
                                <div class="box-tooltip flex-lc pr">
                                    <button type="button"><i class="icon icon-info"></i></button>
                                    <div class="content">

                                    </div>
                                </div>
                            </div>
                            <div class="coin flex-lc">
                                <span>10,000,000</span>
                                <img src="./assets/img/bonk.png" width="20" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="flex-lc">
                                <h5>Price/Token</h5>
                                <div class="box-tooltip flex-lc pr">
                                    <button type="button"><i class="icon icon-info"></i></button>
                                    <div class="content">

                                    </div>
                                </div>
                            </div>
                            <div class="price">$0.000018</div>
                        </li>
                        <li>
                            <div class="flex-lc">
                                <h5>Offer Creator</h5>
                                <div class="box-tooltip flex-lc pr">
                                    <button type="button"><i class="icon icon-info"></i></button>
                                    <div class="content">

                                    </div>
                                </div>
                            </div>
                            <div class="flex-lc">
                                <span>MWX...mQD</span>
                                <i class="arrow-up-right ml-2"></i>
                            </div>
                        </li>
                        <li>
                            <div class="flex-lc">
                                <h5>Fill Type</h5>
                            </div>
                            <div class="fill_type txt-xs">Partial Fill</div>
                        </li>
                        <li>
                            <div class="flex-lc">
                                <h5>Offer Tx</h5>
                                <div class="box-tooltip flex-lc pr">
                                    <button type="button"><i class="icon icon-info"></i></button>
                                    <div class="content">

                                    </div>
                                </div>
                            </div>
                            <div class="flex-lc">
                                <span>Solscan</span>
                                <i class="arrow-up-right ml-2"></i>
                            </div>
                        </li>
                        <li>
                            <div class="flex-lc">
                                <h5>Privacy</h5>
                            </div>
                            <label class="switch">
                                <input type="checkbox" checked="">
                                <span class="slider round"></span>
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="item bg-sh">
                    <div class="flex-lc justify-between">
                        <h2 class="txt-sm">ORDERS HISTORY</h2>
                        <div class="box-check mb-4">
                            <span>Only me</span>
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                    <div class="box-table">
                        <table>
                            <thead>
                            <tr>
                                <th>Time</th>
                                <th>Filled Amount</th>
                                <th>Pad Amount</th>
                                <th>TX.HASH</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
