<main>
    <div class="oxanon-category w-lg nofixed pr">
        <div class="container">
            <div class="box-title">
                <h2 class="title">Privacy OTC</h2>
            </div>
            <div class="bar-action flex">
                <ul class="tab nav flex">
                    <li><a href="#buy" data-toggle="tab" class="active">Buy</a></li>
                    <li><a href="#sell" data-toggle="tab">Sell</a></li>
                    <li><a href="#filled" data-toggle="tab">100% Filled</a></li>
                    <li><a href="#closed" data-toggle="tab">Closed</a></li>
                </ul>
                <div class="strict-list flex txt-xs">
                    <p class="flex-lc"><i class="icon icon-protect"></i><span>Strict List</span></p>
                    <button type="button">All</button>
                </div>
                <form action="" method="">
                    <input type="text" placeholder="Enter token name or mint address">
                </form>
                <div class="box-select pr">
                    <div class="selected flex-lc pr">
                        <div class="icon"><img src="./assets/img/eth1.svg" alt=""></div>
                        <div class="name pl-2">ETH</div>
                    </div>
                    <ul class="select-list">
                        <li data-icon="./assets/img/eth1.svg" data-name="ETH" class="active">
                            <div class="flex-lc">
                                <img src="./assets/img/eth1.svg" width="26" alt="">
                                <span>ETH</span>
                            </div>
                        </li>
                        <li data-icon="./assets/img/sol.svg" data-name="SOL">
                            <div class="flex-lc">
                                <img src="./assets/img/sol.svg" width="26" alt="">
                                <span>SOL</span>
                            </div>
                        </li>
                        <li data-icon="./assets/img/bnb.svg" data-name="BSC">
                            <div class="flex-lc">
                                <img src="./assets/img/bnb.svg" width="26" alt="">
                                <span>BSC</span>
                            </div>
                        </li>
                        <li data-icon="./assets/img/trx.svg" data-name="AVAX">
                            <div class="flex-lc">
                                <img src="./assets/img/trx.svg" width="26" alt="">
                                <span>AVAX</span>
                            </div>
                        </li>
                        <li data-icon="./assets/img/arb.svg" data-name="ARB">
                            <div class="flex-lc">
                                <img src="./assets/img/arb.svg" width="26" alt="">
                                <span>ARB</span>
                            </div>
                        </li>
                        <li data-icon="./assets/img/op.svg" data-name="OP">
                            <div class="flex-lc">
                                <img src="./assets/img/op.svg" width="26" alt="">
                                <span>OP</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="box-select pr">
                    <div class="selected flex-lc pr">
                        <i class="icon-transfer"></i>
                        <div class="name pl-2">Price: Ascending</div>
                    </div>
                    <ul class="select-list">
                        <li data-name="Price: Ascending" class="active">
                            <div class="flex-lc">
                                <span>Price: Ascending</span>
                            </div>
                        </li>
                        <li data-name="Price: Decrease">
                            <div class="flex-lc">
                                <span>Price: Decrease</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <button type="button" class="btn-refresh flex-center"><i class="icon icon-refresh"></i></button>
            </div>
            <div class="tab-content no-bg">
                <div id="buy" class="tab-pane fade show active">
                    <div class="list-coin">
                        <div class="item">
                            <div class="row-1 flex-lc justify-between">
                                <div class="coin flex-lc">
                                    <div class="coin__img"><img src="./assets/img/bonk.png" alt=""></div>
                                    <div class="coin__info">
                                        <div class="name txt-sm">BONK</div>
                                        <div class="cd txt-xs">#2063</div>
                                    </div>
                                </div>
                                <div class="circle percentage-0">
                                    <span>0%</span>
                                    <div class="percentage-bar"></div>
                                </div>
                            </div>
                            <div class="row-2 flex-lc justify-between">
                                <button type="button" class="btn-fill partial txt-xs">Partial Fill</button>
                                <div class="time txt-xs">2 days ago</div>
                            </div>
                            <div class="row-3 flex justify-between">
                                <div class="offer">
                                    <h5 class="txt-xs txt-gray">Offer</h5>
                                    <div class="token flex-lc">
                                        <span>3.59M Bonk</span>
                                        <img src="./assets/img/bonk.png" alt="">
                                    </div>
                                    <div class="price txt-xs txt-gray">$0.000023/Token</div>
                                </div>
                                <div class="arrow"></div>
                                <div class="for">
                                    <h5 class="txt-xs txt-gray">For</h5>
                                    <div class="token flex-lc">
                                        <span>82.6 USDT</span>
                                        <img src="./assets/img/utdt-1.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn-buy flex-center">Buy</button>
                        </div>
                        <div class="item">
                            <div class="row-1 flex-lc justify-between">
                                <div class="coin flex-lc">
                                    <div class="coin__img"><img src="./assets/img/bonk.png" alt=""></div>
                                    <div class="coin__info">
                                        <div class="name txt-sm">BONK</div>
                                        <div class="cd txt-xs">#2063</div>
                                    </div>
                                </div>
                                <div class="circle percentage-0">
                                    <span>0%</span>
                                    <div class="percentage-bar"></div>
                                </div>
                            </div>
                            <div class="row-2 flex-lc justify-between">
                                <button type="button" class="btn-fill partial txt-xs">Partial Fill</button>
                                <div class="time txt-xs">2 days ago</div>
                            </div>
                            <div class="row-3 flex justify-between">
                                <div class="offer">
                                    <h5 class="txt-xs txt-gray">Offer</h5>
                                    <div class="token flex-lc">
                                        <span>3.59M Bonk</span>
                                        <img src="./assets/img/bonk.png" alt="">
                                    </div>
                                    <div class="price txt-xs txt-gray">$0.000023/Token</div>
                                </div>
                                <div class="arrow"></div>
                                <div class="for">
                                    <h5 class="txt-xs txt-gray">For</h5>
                                    <div class="token flex-lc">
                                        <span>82.6 USDT</span>
                                        <img src="./assets/img/utdt-1.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn-buy flex-center">Buy</button>
                        </div>
                        <div class="item">
                            <div class="row-1 flex-lc justify-between">
                                <div class="coin flex-lc">
                                    <div class="coin__img"><img src="./assets/img/bonk.png" alt=""></div>
                                    <div class="coin__info">
                                        <div class="name txt-sm">BONK</div>
                                        <div class="cd txt-xs">#2063</div>
                                    </div>
                                </div>
                                <div class="circle percentage-9">
                                    <span>9.3%</span>
                                    <div class="percentage-bar"></div>
                                </div>
                            </div>
                            <div class="row-2 flex-lc justify-between">
                                <button type="button" class="btn-fill partial txt-xs">Partial Fill</button>
                                <div class="time txt-xs">2 days ago</div>
                            </div>
                            <div class="row-3 flex justify-between">
                                <div class="offer">
                                    <h5 class="txt-xs txt-gray">Offer</h5>
                                    <div class="token flex-lc">
                                        <span>3.59M Bonk</span>
                                        <img src="./assets/img/bonk.png" alt="">
                                    </div>
                                    <div class="price txt-xs txt-gray">$0.000023/Token</div>
                                </div>
                                <div class="arrow"></div>
                                <div class="for">
                                    <h5 class="txt-xs txt-gray">For</h5>
                                    <div class="token flex-lc">
                                        <span>82.6 USDT</span>
                                        <img src="./assets/img/utdt-1.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn-buy flex-center">Buy</button>
                        </div>
                        <div class="item">
                            <div class="row-1 flex-lc justify-between">
                                <div class="coin flex-lc">
                                    <div class="coin__img"><img src="./assets/img/bonk.png" alt=""></div>
                                    <div class="coin__info">
                                        <div class="name txt-sm">BONK</div>
                                        <div class="cd txt-xs">#2063</div>
                                    </div>
                                </div>
                                <div class="circle percentage-0">
                                    <span>0%</span>
                                    <div class="percentage-bar"></div>
                                </div>
                            </div>
                            <div class="row-2 flex-lc justify-between">
                                <button type="button" class="btn-fill partial txt-xs">Partial Fill</button>
                                <div class="time txt-xs">2 days ago</div>
                            </div>
                            <div class="row-3 flex justify-between">
                                <div class="offer">
                                    <h5 class="txt-xs txt-gray">Offer</h5>
                                    <div class="token flex-lc">
                                        <span>3.59M Bonk</span>
                                        <img src="./assets/img/bonk.png" alt="">
                                    </div>
                                    <div class="price txt-xs txt-gray">$0.000023/Token</div>
                                </div>
                                <div class="arrow"></div>
                                <div class="for">
                                    <h5 class="txt-xs txt-gray">For</h5>
                                    <div class="token flex-lc">
                                        <span>82.6 USDT</span>
                                        <img src="./assets/img/utdt-1.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn-buy flex-center">Buy</button>
                        </div>
                        <div class="item">
                            <div class="row-1 flex-lc justify-between">
                                <div class="coin flex-lc">
                                    <div class="coin__img"><img src="./assets/img/wen.png" alt=""></div>
                                    <div class="coin__info">
                                        <div class="name txt-sm">WEN</div>
                                        <div class="cd txt-xs">#1465</div>
                                    </div>
                                </div>
                                <div class="circle percentage-0">
                                    <span>0%</span>
                                    <div class="percentage-bar"></div>
                                </div>
                            </div>
                            <div class="row-2 flex-lc justify-between">
                                <button type="button" class="btn-fill single txt-xs">Single Fill</button>
                                <div class="time txt-xs">2 days ago</div>
                            </div>
                            <div class="row-3 flex justify-between">
                                <div class="offer">
                                    <h5 class="txt-xs txt-gray">Offer</h5>
                                    <div class="token flex-lc">
                                        <span>100 WEN</span>
                                        <img src="./assets/img/wen.png" alt="">
                                    </div>
                                    <div class="price txt-xs txt-gray">$0.000023/Token</div>
                                </div>
                                <div class="arrow"></div>
                                <div class="for">
                                    <h5 class="txt-xs txt-gray">For</h5>
                                    <div class="token flex-lc">
                                        <span>10 SOL</span>
                                        <img src="./assets/img/sol.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn-buy flex-center">Buy</button>
                        </div>
                        <div class="item">
                            <div class="row-1 flex-lc justify-between">
                                <div class="coin flex-lc">
                                    <div class="coin__img"><img src="./assets/img/wen.png" alt=""></div>
                                    <div class="coin__info">
                                        <div class="name txt-sm">WEN</div>
                                        <div class="cd txt-xs">#1465</div>
                                    </div>
                                </div>
                                <div class="circle percentage-0">
                                    <span>0%</span>
                                    <div class="percentage-bar"></div>
                                </div>
                            </div>
                            <div class="row-2 flex-lc justify-between">
                                <button type="button" class="btn-fill single txt-xs">Single Fill</button>
                                <div class="time txt-xs">2 days ago</div>
                            </div>
                            <div class="row-3 flex justify-between">
                                <div class="offer">
                                    <h5 class="txt-xs txt-gray">Offer</h5>
                                    <div class="token flex-lc">
                                        <span>100 WEN</span>
                                        <img src="./assets/img/wen.png" alt="">
                                    </div>
                                    <div class="price txt-xs txt-gray">$0.000023/Token</div>
                                </div>
                                <div class="arrow"></div>
                                <div class="for">
                                    <h5 class="txt-xs txt-gray">For</h5>
                                    <div class="token flex-lc">
                                        <span>10 SOL</span>
                                        <img src="./assets/img/sol.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn-buy flex-center">Buy</button>
                        </div>
                        <div class="item">
                            <div class="row-1 flex-lc justify-between">
                                <div class="coin flex-lc">
                                    <div class="coin__img"><img src="./assets/img/geck.png" alt=""></div>
                                    <div class="coin__info">
                                        <div class="name txt-sm">GECKO</div>
                                        <div class="cd txt-xs">#2122</div>
                                    </div>
                                </div>
                                <div class="circle percentage-0">
                                    <span>0%</span>
                                    <div class="percentage-bar"></div>
                                </div>
                            </div>
                            <div class="row-2 flex-lc justify-between">
                                <button type="button" class="btn-fill partial txt-xs">Partial Fill</button>
                                <div class="time txt-xs">2 days ago</div>
                            </div>
                            <div class="row-3 flex justify-between">
                                <div class="offer">
                                    <h5 class="txt-xs txt-gray">Offer</h5>
                                    <div class="token flex-lc">
                                        <span>128.00K GECKO</span>
                                        <img src="./assets/img/geck.png" alt="">
                                    </div>
                                    <div class="price txt-xs txt-gray">$0.000685/Token</div>
                                </div>
                                <div class="arrow"></div>
                                <div class="for">
                                    <h5 class="txt-xs txt-gray">For</h5>
                                    <div class="token flex-lc">
                                        <span>87.7</span>
                                        <img src="./assets/img/usdc.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn-buy flex-center">Buy</button>
                        </div>
                        <div class="item">
                            <div class="row-1 flex-lc justify-between">
                                <div class="coin flex-lc">
                                    <div class="coin__img"><img src="./assets/img/bonk.png" alt=""></div>
                                    <div class="coin__info">
                                        <div class="name txt-sm">BONK</div>
                                        <div class="cd txt-xs">#2063</div>
                                    </div>
                                </div>
                                <div class="circle percentage-0">
                                    <span>0%</span>
                                    <div class="percentage-bar"></div>
                                </div>
                            </div>
                            <div class="row-2 flex-lc justify-between">
                                <button type="button" class="btn-fill partial txt-xs">Partial Fill</button>
                                <div class="time txt-xs">2 days ago</div>
                            </div>
                            <div class="row-3 flex justify-between">
                                <div class="offer">
                                    <h5 class="txt-xs txt-gray">Offer</h5>
                                    <div class="token flex-lc">
                                        <span>3.59M Bonk</span>
                                        <img src="./assets/img/bonk.png" alt="">
                                    </div>
                                    <div class="price txt-xs txt-gray">$0.000023/Token</div>
                                </div>
                                <div class="arrow"></div>
                                <div class="for">
                                    <h5 class="txt-xs txt-gray">For</h5>
                                    <div class="token flex-lc">
                                        <span>82.6 USDT</span>
                                        <img src="./assets/img/utdt-1.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn-buy flex-center">Buy</button>
                        </div>
                    </div>
                </div>
                <div id="sell" class="tab-pane fade">
                    <div class="list-coin">
                        <div class="item">
                            <div class="row-1 flex-lc justify-between">
                                <div class="coin flex-lc">
                                    <div class="coin__img"><img src="./assets/img/bonk.png" alt=""></div>
                                    <div class="coin__info">
                                        <div class="name txt-sm">BONK</div>
                                        <div class="cd txt-xs">#2063</div>
                                    </div>
                                </div>
                                <div class="circle percentage-0">
                                    <span>0%</span>
                                    <div class="percentage-bar"></div>
                                </div>
                            </div>
                            <div class="row-2 flex-lc justify-between">
                                <button type="button" class="btn-fill partial txt-xs">Partial Fill</button>
                                <div class="time txt-xs">2 days ago</div>
                            </div>
                            <div class="row-3 flex justify-between">
                                <div class="offer">
                                    <h5 class="txt-xs txt-gray">Offer</h5>
                                    <div class="token flex-lc">
                                        <span>3.59M Bonk</span>
                                        <img src="./assets/img/bonk.png" alt="">
                                    </div>
                                    <div class="price txt-xs txt-gray">$0.000023/Token</div>
                                </div>
                                <div class="arrow"></div>
                                <div class="for">
                                    <h5 class="txt-xs txt-gray">For</h5>
                                    <div class="token flex-lc">
                                        <span>82.6 USDT</span>
                                        <img src="./assets/img/utdt-1.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn-buy flex-center">Buy</button>
                        </div>
                    </div>
                </div>
                <div id="filled" class="tab-pane fade">
                    <div class="list-coin">
                        <div class="item">
                            <div class="row-1 flex-lc justify-between">
                                <div class="coin flex-lc">
                                    <div class="coin__img"><img src="./assets/img/bonk.png" alt=""></div>
                                    <div class="coin__info">
                                        <div class="name txt-sm">BONK</div>
                                        <div class="cd txt-xs">#2063</div>
                                    </div>
                                </div>
                                <div class="circle percentage-0">
                                    <span>0%</span>
                                    <div class="percentage-bar"></div>
                                </div>
                            </div>
                            <div class="row-2 flex-lc justify-between">
                                <button type="button" class="btn-fill partial txt-xs">Partial Fill</button>
                                <div class="time txt-xs">2 days ago</div>
                            </div>
                            <div class="row-3 flex justify-between">
                                <div class="offer">
                                    <h5 class="txt-xs txt-gray">Offer</h5>
                                    <div class="token flex-lc">
                                        <span>3.59M Bonk</span>
                                        <img src="./assets/img/bonk.png" alt="">
                                    </div>
                                    <div class="price txt-xs txt-gray">$0.000023/Token</div>
                                </div>
                                <div class="arrow"></div>
                                <div class="for">
                                    <h5 class="txt-xs txt-gray">For</h5>
                                    <div class="token flex-lc">
                                        <span>82.6 USDT</span>
                                        <img src="./assets/img/utdt-1.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn-buy flex-center">Buy</button>
                        </div>
                    </div>
                </div>
                <div id="closed" class="tab-pane fade">
                    <div class="list-coin">

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
