:root{
  --green: #62FFB8;
  --light: #D9F2EB;
  --gray: #74817D;
  --redhatdisplay: 'Red Hat Display',sans-serif;
  --dogicapixel: dogicapixel, sans-serif;
  --dogicapixelbold: dogicapixelbold, sans-serif;
}
body{
  background: #000;
  font-family: 'Red Hat Mono', monospace;
  font-size: 16px;
  color: #000;
  line-height: 1.4;
  overflow-x: hidden;
  &::-webkit-scrollbar{width: 6px;}
  &::-webkit-scrollbar-track{background: #ccc;}
  &::-webkit-scrollbar-thumb{background: #888;}
}
html,body{scroll-behavior: smooth;}
body.modal-open {
  overflow: visible;
  padding-right: 0 !important;
}
body.overflow-hidden{overflow: hidden;}
@mixin hover{filter: saturate(1.9); -webkit-filter: saturate(1.9);}
@mixin arrow-down{
  width: 17px; height: 10px; display: block;
  background: url("#{$img-path}/arrow-down.svg") no-repeat 0 0/contain;
}
a{transition: .25s;}
a:hover{text-decoration: none;}

@font-face {
  font-family: dogicapixel;
  src: url('#{$font-path}/dogicapixel.ttf');
}
@font-face {
  font-family: dogicapixelbold;
  src: url('#{$font-path}/dogicapixelbold.ttf');
}

//header
header{
  width: 100%; position: fixed; background: #000; top: 0; left: 0; z-index: 9;
  .navbar-toggle{display: none;}
  .logo{width: 201px;}
  .social{position: absolute; left: 50%; transform: translateX(-50%);}
  .btn-launch{
    margin-left: auto;
    padding: 3px 29px;
    background: #62FFB8;
    border-radius: 9999px;
    color: #000;
    &:hover{background: #31d98d;}
  }
  .btn-connect{width: 240px; text-align: center; border-radius: 9999px;}
}

.navbar{
  height: 100%; width: 100%;
  display: flex; align-items: center; justify-content: flex-start;
  margin: 0 auto; padding: 10px 0;
  transition: .3s;
}
.navbar-collapse{padding: 0; justify-content: flex-start;}
.navbar-nav{
  margin-left: auto; align-items: center;
  >*+*{margin-left: 35px;}
  > li{display: flex; flex-wrap: wrap; align-items: center; position: relative;}
  > li > a{display: block; font: 16px/36px var(--dogicapixel); color: var(--light); position: relative;}
  .active,a:hover{color: var(--green);}
}
.social{
  margin-left: auto;
  >*+*{margin-left: 25px;}
  a{display: block; width: 19px; height: 15px; font-size: 0;}
  a:hover{filter: saturate(1.4); -webkit-filter: saturate(1.5);}
  .telegram{background: url("#{$img-path}/telegram.svg") no-repeat 0 0/contain;}
  .twitter{background: url("#{$img-path}/twitter.svg") no-repeat 0 0/contain;}
  .discord{width: 21px; background: url("#{$img-path}/discord.svg") no-repeat 0 0/contain;}
  .youtube{background: url("#{$img-path}/youtube.svg") no-repeat 0 0/contain;}
}
.profile{
  margin-left: auto; font: 700 16px 'Red Hat Display',sans-serif;
  .eth-number{color: var(--light); font-size: 16px; font-weight: 600;}
  .account{
    margin-left: 20px;
    button{
      padding: 7.5px 18px;
      border-radius: 12px;
      border: 1px solid var(--light);
      background: none;
      color: var(--light);
      position: relative;
    }
    button::after{
      content: "";
      width: 17px; height: 10px;
      background: url("#{$img-path}/arrow-down.svg") no-repeat;
      display: block;
      margin-left: 10px;
    }
    .avatar{width: 40px; height: 40px; margin-right: 10px; background: #D9D9D9; border-radius: 50%;}
  }
}

main{padding-top: 80px; overflow: hidden;}
.container{max-width: 1300px;}
.oxanon-home-s1{
  padding: vw(284px) 0 vw(347px);
  background: url("#{$img-path}/bg-glitch.jpg") no-repeat 0 50%/cover;
  position: relative;
  .box-video{
    width: 100%; height: 100%; position: absolute; top: 0; left: 0;
    video{width: 100%; height: 100%; object-fit: cover;}
  }
  .content{padding-right: 20px; position: relative; z-index: 2;}
  h1{
    margin-bottom: 58px;
    color: #D9F2EB;
    &.mobile{display: none;}
    span{
      display: block;
      animation: typing 2s steps(30, end); overflow: hidden;
      font: 48px/72px var(--dogicapixelbold); white-space: nowrap;
    }
    span:nth-child(2){
      animation-delay: 1.8s; opacity: 0;
      &.show{opacity: 1;}
    }
    span:nth-child(3){
      animation-delay: 3.2s; opacity: 0;
      &.show{opacity: 1;}
    }
    span:nth-child(4){
      animation-delay: 5s; opacity: 0;
      &.show{opacity: 1;}
    }
    span:nth-child(5){
      animation-delay: 6.2s; opacity: 0;
      &.show{opacity: 1;}
    }
    span:nth-child(6){
      animation-delay: 8s; opacity: 0;
      &.show{opacity: 1;}
    }
  }
  .contract{color: var(--green);}
}
.oxanon-home-s2{
  padding: vw(117px) 0 vw(219px);
  background: url(#{$img-path}/bg-home-s2.jpg) no-repeat 0 0/cover;
  .container{max-width: 1505px;}
  .title{margin-bottom: 62px;}
  .content{
    padding: 77px 100px 94px;
    border-radius: 35px;
    border-top: 2px solid rgba(98, 255, 184, 0.50);
    background: rgba(#191919,.8);
  }
  .core-value{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 62px;
    h4{margin-bottom: 25px; font: 24px/36px var(--dogicapixel); color: var(--green);}
    p{color: #D9F2EB; font-size: 18px; line-height: 1.34;}
  }
}
.oxanon-home-s3{
  padding: vw(215px) 0; position: relative;
  &::after{
    content: "";
    width: 100%; height: 100%;
    background: linear-gradient(270deg, #62FFB8 0%, rgba(98, 255, 184, 0.00) 99.98%);
    opacity: .2;
    position: absolute; left: 0; top: 0; z-index: -1;
  }
  video{border: 1px solid var(--green); width: 100%; object-fit: cover; border-radius: 12px;}
  .content{padding-top: 42px;}
}
.oxanon-home-s4{
  padding: vw(215px) 0;
  .content{padding-left: 70px;}
  video{width: 100%; object-fit: cover;}
}
.oxanon-home-s5{
  padding: vw(123px) 0 vw(152px);
  background: url(#{$img-path}/roadmap-bg.jpg) no-repeat 0 50%/cover;
  .title{margin-bottom: 56px;}
  .roadmap{
    display: grid; grid-template-columns: repeat(3,1fr);
    .item{
      padding: 87px 40px 122px;
      border-radius: 20px 0px 0px 20px;
      background: linear-gradient(90deg, rgba(98, 255, 184, 0.20) 0%, rgba(98, 255, 184, 0.00) 100%);
      
      h4{margin-bottom: 35px; color: var(--green); font: 24px/36px var(--dogicapixel);}
    }
    ul{
      position: relative;
      >*+*{margin-top: 26px;}
      &::before{
        content: "";
        width: 2px; height: 150%;
        background: var(--green);
        position: absolute; left: -40px; top: -82px;
      }
      li{
        position: relative; padding-left: 24px; font-size: 18px; color: #D9F2EB; list-style: none;
        &::before{
          content: "";
          width: 18px; height: 18px;
          background: url(#{$img-path}/dot.svg) no-repeat 0 0/contain;
          position: absolute; left: -4px; top: 5px;
        }
      }
    }
  }
}

//category
.oxanon-category{
  padding: 75px 0 140px; background: url("#{$img-path}/bg-home-s2.jpg") no-repeat bottom center/cover; background-attachment: fixed;
  &.nofixed{background-attachment: inherit;}
  &.w-lg{
    .container{max-width: 1465px;}
    .box-title{max-width: 100%;}
  }
  &.w-md{
    .container{max-width: 1142px;}
    .box-title{max-width: 100%;}
  }
  &.mh-md{min-height: 1184px;}
  &.mh-sm{min-height: calc(76vh + 38px);}
  &::after{
    content: "";
    display: none;
    width: 100%; height: 970px;
    background: url("#{$img-path}/bg-home-s2.jpg") no-repeat bottom center/cover;
    position: absolute; bottom: 0; left: 0; z-index: -1;
  }
  .box-title{max-width: 623px; margin: 0 auto 62px;}
  .tab{
    margin-bottom: 38px;
    li{margin: 0 12.5px;}
    a{
      display: block; padding: 3px 23px; min-width: 127px;
      background: #191919; border-radius: 12px; color: var(--light); font: 14px/36px var(--dogicapixel);
      text-align: center;
    }
    .active{background: #343937;}
  }
  .tab-content{
    max-width: 520px; margin: 0 auto;
    padding: 0 28px 60px;
    border-radius: 35px;
    border-top: 2px solid rgba(98, 255, 184, 0.50);
    background: rgba(#191919,.85);
    box-shadow: 8px 8px 12px 0px rgba(0, 0, 0, 0.25);
    &.no-bg{max-width: 100%; background: none; border: none; box-shadow: none; border-radius: 0; padding: 0;}
    .header{padding: 24px 0 15px; margin-bottom: 32px; justify-content: flex-end; border-bottom: 1px solid #343937;}
    h3{margin-bottom: 30px;}
    .icon{width: 20px; height: 20px; display: block;}
    .icon-clock{background: url("#{$img-path}/icon-clock.svg") no-repeat;}
  }
  .amout-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 24px;
    margin-bottom: 38px;
    button{
      padding: 12px 19px;
      background: none;
      border-radius: 12px;
      border: 1px solid rgba(#62FFB8,.5);
      font-size: 24px; line-height: 36px;
      color: var(--light);
      &:focus{background: var(--green); color: #000;}
    }
  }
  .box-tooltip{
    &.lg{
      .content{width: 302px; left: -315px; top: -14px;}
      .icon-info{width: 14px; height: 14px; margin-right: 4px;}
    }
    &:hover .content{opacity: 1; z-index: 2;}
    .icon-q{width: 14px; height: 14px; display: block; background: url("#{$img-path}/icon-info-1.svg") no-repeat;}
    .icon-i{width: 14px; height: 15px; display: block; background: url("#{$img-path}/icon-q.svg") no-repeat;}
    .icon-info{width: 20px; height: 20px; display: block; background: url("#{$img-path}/icon-info.svg") no-repeat 0 0/contain;}
    button{background: none; padding: 0;}
    .content{
      width: 194px;
      padding: 11px 16px;
      border-radius: 12px;
      background: #343937;
      color: var(--light);
      font-size: 12px; line-height: 1.4;
      position: absolute; top: -5px; left: 24px;
      opacity: 0; z-index: -1;
    }
  }
  .b-1{border-radius: 12px; border: 1px solid rgba(#62FFB8,.5);}
  .secret-key{
    padding: 8px 22px 8px 62px;
    background: url("#{$img-path}/icon-key.svg") no-repeat 22px center;
    font-size: 18px;
    input{border: none; background: none; color: var(--light);}
    input::placeholder{color: var(--light);}
  }
  .box-coin{
    padding: 19px 22px;
    input{width: 50%; background: none; border: none; padding: 0; color: #fff; font-weight: 700; font-size: 24px; line-height: 34px;}
    .coin{
      color: #fff; margin-left: auto;
      img{width: 45px; height: 45px; border-radius: 50%; object-fit: cover;}
    }
    .usd{margin-top: 20px; color: #74817D;}
  }
  .dropdown-select{
    background: none; margin-left: 14px; color: #fff; font-weight: 700;
    &.active::after{transform: rotate(180deg);}
    &::after{
      content: "";
      @include arrow-down;
      margin-left: 14px;
    }
  }
  .dropdown-content{
    width: 100%; display: none;
    margin-top: 25px;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid rgba(98, 255, 184, 0.50);
    font:700 16px 'Red Hat Display', sans-serif;
    color: var(--light);
    &.show{display: flex;}
    li{padding: 5px;}
    button,input{}
    button{
      width: 70px; height: 25px;
      border-radius: 9999px;
      background: none;
      color: var(--light);
      &.active{background: #74817D; color: #191919;}
    }
    input{
      width: 70px; height: 25px; border: none; background: none; color: #fff;
      &::placeholder{color: #74817D;}
    }
  }
  .code{
    padding: 18px 22px;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    span{word-wrap: break-word;}
  }
  .relayer{
    button{background: none; color: var(--light);}
    .icon-info{width: 14px; height: 14px; margin: 0 4px;}
    .box-info{
      margin: 0 8px 0 0;
      .content{width: 302px; left: -315px; top: -10px;}
    }
  }
  .info{
    h4{padding: 27px 22px; border-bottom: 1px solid var(--green); color: var(--green); font: 16px var(--dogicapixel);}
    ul{
      padding: 22px;
      >*+*{margin-top: 22px;}
      li{display: flex; align-items: center;}
      p{color: var(--light);}
      span{margin-left: auto; color: #fff; font-weight: 700;}
    }
  }
  .notifi{
    max-width: 726px; margin: 53px auto 0;
    padding: 68px 80px;
    border-radius: 35px;
    border-top: 2px solid rgba(98, 255, 184, 0.50);
    background: rgba(#191919,.85);
    box-shadow: 8px 8px 12px 0px rgba(0, 0, 0, 0.25);
    color: #fff;
    h2{margin-bottom: 12px; font: 16px/36px var(--dogicapixel); font-weight: 400;}
    .btn-pr{display: inline-block; width: 240px;}
  }
  .btn-history{
    padding-right: 42px; background: url("#{$img-path}/arrow-right.svg") no-repeat right center; color: var(--green);
    &:hover{@include hover;}
  }
  .icon-info{background: url("#{$img-path}/icon-info.svg") no-repeat 0 0/contain;}
}
.box-form,.box-content{
  margin: -15px auto 0;
  border-radius: 35px;
  border-top: 2px solid rgba(98, 255, 184, 0.50);
  background: rgba(#191919,.85);
  box-shadow: 8px 8px 12px 0px rgba(0, 0, 0, 0.25);
}
.box-content{
  max-width: 624px; padding: 46px 30px 46px;
  .sim-card{
    padding: 0 0 30px;
    margin-bottom: 30px;
    justify-content: flex-end;
    border-bottom: 1px solid #343937;
    .btn-sim{
      width: 32px; height: 32px;
      background: url("#{$img-path}/simcard.svg") no-repeat;
    }
  }
  .box-input{
    min-height: 80px;
    justify-content: space-between;
    padding: 20px 22px;
    border-radius: 12px;
    border: 1px solid rgba(#62FFB8,.5);
    label{
      display: inline-block;
      margin-bottom: 0;
      padding: 0 12px;
      background: #343937;
      border-radius: 9999px;
      color: #D9F2EB;
      font-weight: 700;
      font-size: 16px;
    }
    input{
      width: 100%;
      background: none;
      border: none;
      font-size: 18px;
      color: #ccc;
      &::placeholder{color: #74817D;}
    }
    .amount{
      padding-left: 20px; width: 40%;
      input{width: 100%; color: #fff; font-weight: 700; font-size: 24px;}
      input::placeholder{color: #fff;}
    }
    h4{font-size: 18px; font-weight: 400; color: #74817D;}
    .btn-max{
      margin-left: auto;
      padding: 0 16px;
      background: #343937;
      border-radius: 9999px;
      font-weight: 700;
      color: #D9F2EB;
    }
  }
  .form-group{
    label{
      margin-bottom: 0;
      font-size: 18px;
      font-weight: 400;
      color: #D9F2EB;
    }
    input{
      background: none; border: none;
      color: #D9F2EB;
      font-size: 18px;
      text-align: right;
    }
  }
  .form-row{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
  }
  .btn-transfer{
    width: 32px; height: 32px; margin: 30px 0;
    background: url("#{$img-path}/arrow-down-up.svg") no-repeat;
  }
  .checkbox{
    margin-top: 30px;
    padding: 16px 20px;
    background: rgba(#4A7E66,.3);
    color: #D9F2EB;
    &.no-bg{padding: 0; background: none;}
    label{
      margin-bottom: 0;
      padding-left: 26px;
    }
    input{position: absolute; opacity: 0; left: 0;}
    input:checked + .checked{background: url("#{$img-path}/icon-check.svg") no-repeat center center;}
    .checked{
      width: 16px; height: 16px;
      border-radius: 4px;
      border: 1px solid #62FFB8;
      position: absolute; top: 0; left: 0;
    }
  }
  .estimated{
    margin-top: 35px;
    color: #fff;
    font: 14px/36px var(--dogicapixel);
  }
  .coin-list{
    >*+*{margin-left: 12px;}
    .eth{font-weight: 700; color: #D9F2EB;}
    .brc{
      padding: 0 14px;
      font-weight: 700;
      border-radius: 15px;
      background: rgba(74, 126, 102, 0.30);
      color: var(--green);
    }
  }
  .available{
    margin: 10px 0 30px;
    color: #74817D;
    span{color: #fff; font-weight: 700;}
  }
  .receive{
    h5{margin-right: 12px; font:400 16px var(--redhatdisplay); color: #74817D;}
  }
  .fee{
    .amount{padding: 0 8px; color: #fff; font-weight: 700; font-size: 16px;}
    h5{
      padding-left: 24px;
      background: url("#{$img-path}/plug.svg") no-repeat left center;
      font: 400 16px var(--redhatdisplay); color: #74817D;
    }
    
  }
  .warning{
    margin: 30px 0;
    padding: 20px;
    background: rgba(#F00,.1);
    .content{
      max-width: 458px;
      padding-left: 24px;
      background: url("#{$img-path}/warning.svg") no-repeat 0 2px;
      font-size: 12px; color: #F00;
    }
  }
  .btn-submit{
    width: 100%; height: 42px;
    background: #4A7E66;
    border-radius: 12px;
    margin-top: 45px;
    color: #000;
    &:hover{background: #357055;
    }
  }
}
.box-form{
  max-width: 520px; margin: -20px auto 0;
  padding: 38px 28px 65px;
  .header{margin-bottom: 65px;}
  .form-group{
    margin-bottom: 30px;
    .text{font-size: 12px; line-height: 15px; margin-top: 12px; color: var(--light);}
  }
  label{display: block; margin-bottom: 12px; font-size: 18px; line-height: 26px; color: var(--light);}
  input{
    width: 100%; height: 46px;
    background: none;
    padding: 0 22px;
    border-radius: 12px;
    border: 1px solid var(--green);
    color: #74817D;
    font-size: 18px;
    &::placeholder{color: #74817D;}
  }
  .box-btn{
    margin-top: 35px; justify-content: space-between;
    button,a{width: calc(50% - 14px); text-align: center;}
    .btn-prev{
      background: var(--light);
      padding: 3px 0;
      border-radius: 12px; color: #74817D;
      color: #191919;
      &.disabled,&.slick-disabled{background: #343937; color: #74817D;}
    }
    .btn-next.slick-disabled{display: none;}
    .btn-deploy{display: none;}
  }
  .checkbox{
    margin-bottom: 30px; position: relative; display: flex;
    input{opacity: 0; position: absolute; left: 0;}
    .checked{width: 18px; height: 18px; display: block; margin-right: 12px; border-radius: 4px; background: #ccc;}
    input:checked + .checked{background: var(--green) url("#{$img-path}/icon-check.svg") no-repeat center center;}
  }
  .slick-slide{height: 0; overflow: hidden; transition:height .25s;}
  .slick-active{height: inherit;}
}
.box-select{
  margin-left: auto;
  &.show{
    .selected::after{transform: rotate(180deg);}
    .select-dropdown{opacity: 1; visibility: visible; z-index: 9;}
    .select-list{opacity: 1; visibility: visible; z-index: 2;}
  }
  .selected{
    color: #fff; cursor: pointer;
    .icon{
      width: 45px; height: 45px;
      &.sm{width: 37px; height: 37px;}
    }
    &::after{
      content: "";
      @include arrow-down;
      margin-left: 8px;
    }
  }
  .select-dropdown{
    background: #1e1e1e;
    padding: 0;
    min-width: 205px;
    border-radius: 10px;
    color: #fff;
    position: absolute; left: -5px; top: 60px;
    opacity: 0; visibility: hidden; z-index: -1;
    li{padding: 8px 30px; cursor: pointer;}
    li:hover{background: rgba(#000,.2);}
    .icon{width: 45px; height: 45px;}
    span{}
  }
  .select-list{
    width: 100%; min-width: 126px;
    background: #191919;
    margin-top: 10px;
    border-radius: 12px;
    border: 1px solid #74817D;
    box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(0, 0, 0, 0.06);
    position: absolute; left: 0; opacity: 0; visibility: hidden; overflow: hidden; z-index: -1;
    li{padding: 8px 14px; cursor: pointer; position: relative;}
    li:hover,.active{
      background: rgba(116, 129, 125, 0.50);
      &.active::after{opacity: 1;}
    }
    li::after{
      content: "";
      width: 17px; height: 10px;
      background: url("#{$img-path}/arrow-down.svg") no-repeat 0 0/contain;
      position: absolute; right: 14px; top: 50%; transform: translateY(-50%); opacity: 0;
    }
    span{padding-left: 10px; font: 12px var(--dogicapixel); line-height: 24px; color: #D9F2EB;}
  }
}
.category{
  header{
    background: #191919;
    .container{max-width: 1465px;}
  }
  .navbar{padding: 20px 0;}
  main{padding-top: 100px;}
  footer{
    padding: 40px 0;
    .social{
      a{filter: grayscale(1);}
    }
  }
}
.reward{
  margin-top: 53px; justify-content: center;
  .item{
    width: 50%; max-width: 517px;
    margin: 0 39px;
    padding: 47px 52px 57px;
    border-radius: 35px;
    border-top: 2px solid rgba(98, 255, 184, 0.50);
    background: rgba(#191919,.85);
    box-shadow: 8px 8px 12px 0px rgba(0, 0, 0, 0.25);
  }
  .exchange{
    display: flex;
    padding: 15px 24px;
    border-radius: 12px;
    border: 1px solid var(--green);
    font-size: 18px; color: #fff;
    input{border: none; background: none; color: #fff;}
    input:focus{outline: none;}
    span{margin-left: auto;}
  }
  h3{color: var(--green); font-family: var(--dogicapixel);}
  .amount{font-size: 40px; font-weight: 700; line-height: 40px; color: #fff;}
  .btn-claim{width: 190px; float: right;}
}
.bar-action{
  margin: 0 -5.5px; align-items: center;
  > *{margin: 5.5px;}
  .tab{
    margin-bottom: 6px;
    border-radius: 12px;
    border: 1px solid rgba(#74817D,1); overflow: hidden;
    >*+*{border-left: 1px solid rgba(#74817D,1)}
    li{margin: 0;}
    li a{min-width: auto; padding: 3px 18px; background: #191919; border-radius: 0; font-size: 12px; line-height: 36px;}
    .active{color: #62FFB8;}
  }
  .strict-list{
    border-radius: 12px;
    font-family: var(--dogicapixel);
    border: 1px solid #74817D; overflow: hidden;
    button{padding: 12.6px 20px; background: #191919; color: #D9F2EB; border-left: 2px solid #74817D;}
    p{padding: 0 15px; background: #343937; color: #62FFB8;}
    .icon{width: 16px; height: 16px; margin-right: 10px; background: url("#{$img-path}/shield.svg") no-repeat;}
  }
  form{flex: 1; min-width: 280px;}
  form input{
    height: 44px; width: 100%;
    padding: 0 15px 0 47px;
    border-radius: 12px;
    color: #D9F2EB;
    border: 1px solid rgba(#74817D,.5);
    font: 16px var(--redhatdisplay);
    background:#000 url('#{$img-path}/icon-search.svg') no-repeat 21px center;
    &::placeholder{color: #74817D;}
  }
  .box-select{
    background: #000;
    padding: 8px 12px 8px 18px;
    border-radius: 12px;
    color: #fff;
    border: 1px solid rgba(#74817D,.5);
    .icon{width: 26px; height: 26px;}
    .icon img{width: 100%;}
    select{
      height: 40px; padding: 5px 10px; border: none; background: #000; color: #D9F2EB; -webkit-appearance: none;
      font: 12px var(--dogicapixel);
      &:focus{outline: none;}
    }
    .selected{min-height: 26px; font: 12px var(--dogicapixel); color: #D9F2EB;}
    option{padding: 5px 0; background: #000; color: #fff;}
    .icon-filter{background: url('#{$img-path}/filter.svg') no-repeat;}
    .icon-transfer{width: 18px; height: 18px; background: url('#{$img-path}/transfer.svg') no-repeat;}
    .icon-arrow{width: 17px; height: 10px; background: url('#{$img-path}/arrow-down.svg') no-repeat 0 0/contain;}
  }
  .select-box{
    &.arrow .select-selected:after{display: block;}
    .icon{width: 18px; height: 18px;}
    .icon-filter{background: url('#{$img-path}/filter.svg') no-repeat;}
    .icon-transfer{background: url('#{$img-path}/transfer.svg') no-repeat;}
  }
  .btn-refresh{
    width: 42px; height: 42px;
    background: #000;
    border: 1px solid rgba(#74817D,.5);
    border-radius: 12px;
    .icon-refresh{width: 20px; height: 21px; background: url('#{$img-path}/refresh.svg') no-repeat; transition: .5s;}
    &:hover .icon{transform: rotate(180deg);} 
  }
}
.list-coin{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 30px;
  margin-top: 45px;
  .item{
    padding: 29px 16px;
    border-radius: 22px;
    border-top: 2px solid rgba(98, 255, 184, 0.50);
    background: rgba(#191919,.85);
    box-shadow: 8px 8px 12px 0px rgba(0, 0, 0, 0.25);
  }
  .row-2{padding: 20px 0; border-bottom: 1px solid #343937;}
  .row-3{
    padding: 19px 0;
    h5{margin-bottom: 10px;}
    .arrow{width: 18px; height: 18px; margin-top: 24px; background: url("#{$img-path}/arrow-right-1.svg") no-repeat;}
  }
  .coin{
    &__img{width: 54px; height: 54px;}
    &__info{
      padding-left: 14px;
      .name{color: #62FFB8;}
      .cd{color: #D9F2EB;}
    }
    img{width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
  }
  .offer{
    .token span{color: #D9F2EB}
  }
  .for{
    h5{text-align: right;}
    .token span{color: #62FFB8;}
  }
  .token{
    span{font-size: 14px; font-weight: 700; font-family: var(--redhatdisplay);}
    img{width: 20px; height: 20px; object-fit: cover; border-radius: 50%; margin-left: 6px;}
  }
  .btn-fill{
    padding: 2.6px 14px;
    background: #343937;
    border-radius: 5px;
    color: #74817D;
    &.single{color: #3C90FC;}
  }
  .price{margin-top: 6px;}
  .time{color: #74817D;}
  .btn-buy{
    display: flex;
    width: 76px; height: 32px;
    margin-left: auto;
    background: #343937;
    border-radius: 8px;
    color: #D9F2EB;
    font: 14px var(--dogicapixel);
    &:hover{background: #242827;}
  }
}
.offer-detail{
  > .item{padding: 40px 38px; margin-bottom: 30px;}
  .header{
    padding-bottom: 30px; margin-bottom: 30px; border-bottom: 1px solid #343937;
    .coin{
      &__img{width: 54px; height: 54px;}
      &__info{padding-left: 14px;}
      .name{
        color: var(--green);
        span:nth-child(2){color: #D9F2EB;}
      }
      .cd{
        padding: 2.6px 10px; border-radius: 5px; background: #343937; color: #74817D;
        .arrow-up-right{width: 16px; height: 16px; margin-left: 5px; background: url("#{$img-path}/arrow-up-right.svg") no-repeat;}
      }
      img{width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
    }
  }
  .box-action{
    display: grid; grid-template-columns: repeat(2,1fr); grid-gap: 20px;
    h4{font-size: 18px; line-height: 25px; color: #D9F2EB; font-weight: 400;}
    .item{padding: 20px 25px; border-radius: 12px; border: 1px solid #343937}
    .buying{
      padding: 2px 12px;
      border-radius: 8px;
      background: rgba(98, 255, 184, 0.20);
      font: 700 16px var(--redhatdisplay);
      color: var(--green);
    }
    .coin img{border-radius: 50%;}
  }
  .box-tooltip{
    margin-left: 10px;
    .icon-info{width: 14px; height: 14px;}
  }
  .amount{
    color: #fff;
    span{display: block;}
  }
  .box-range{
    margin-top: 12px; flex-wrap: nowrap;
    p,button{
      width: 47px; height: 20px;
      margin-left: 8px;
      background: #343937; border-radius: 8px; color: #62FFB8;
      text-align: center;
      line-height: 20px;
      opacity: .7;
    }
    input[type="range"]{margin-right: 10px;}
  }
  .fee{
    padding-left: 20px;
    background: url("#{$img-path}/icon-info-2.svg") no-repeat left center;
    color: #3C90FC;
    a{color: #3C90FC;}
  }
  .box-check{
    span{color: #74817D; font: 16px var(--redhatdisplay);}
  }
  .box-table{
    overflow: auto;
    table{width: 100%; min-width: 500px;}
    th{font-weight: 400; padding: 0 5px 16px 5px; font-size: 18px; line-height: 24px; color: #D9F2EB; border-bottom: 1px solid #343937;}
    td{padding: 10px 5px; color: #74817D;}
  }
  .btn-connect{
    width: 282px; height: 42px;
    border-radius: 12px;
    background: var(--green);
    color: #000;
    &:hover{background: #36d88f;}
  }
  h2{margin-bottom: 24px; color: var(--green);}
  .slider{background: #343937;}
  input:checked + .slider {background-color: var(--green);}
  input:focus + .slider {
    box-shadow: 0 0 1px #343937;
  }
  .circle,.circle:before,.circle span,.circle .percentage-bar,.circle .percentage-bar:before{width: 60px; height: 60px;}
  .circle .percentage-bar:before,.circle:before{border-width: 7px;}
  .circle span{line-height: 60px;}
  .circle.percentage-100 .percentage-bar:after, .circle.percentage-99 .percentage-bar:after, .circle.percentage-98 .percentage-bar:after, .circle.percentage-97 .percentage-bar:after, .circle.percentage-96 .percentage-bar:after, .circle.percentage-95 .percentage-bar:after, .circle.percentage-94 .percentage-bar:after, .circle.percentage-93 .percentage-bar:after, .circle.percentage-92 .percentage-bar:after, .circle.percentage-91 .percentage-bar:after, .circle.percentage-90 .percentage-bar:after, .circle.percentage-89 .percentage-bar:after, .circle.percentage-88 .percentage-bar:after, .circle.percentage-87 .percentage-bar:after, .circle.percentage-86 .percentage-bar:after, .circle.percentage-85 .percentage-bar:after, .circle.percentage-84 .percentage-bar:after, .circle.percentage-83 .percentage-bar:after, .circle.percentage-82 .percentage-bar:after, .circle.percentage-81 .percentage-bar:after, .circle.percentage-80 .percentage-bar:after, .circle.percentage-79 .percentage-bar:after, .circle.percentage-78 .percentage-bar:after, .circle.percentage-77 .percentage-bar:after, .circle.percentage-76 .percentage-bar:after, .circle.percentage-75 .percentage-bar:after, .circle.percentage-74 .percentage-bar:after, .circle.percentage-73 .percentage-bar:after, .circle.percentage-72 .percentage-bar:after, .circle.percentage-71 .percentage-bar:after, .circle.percentage-70 .percentage-bar:after, .circle.percentage-69 .percentage-bar:after, .circle.percentage-68 .percentage-bar:after, .circle.percentage-67 .percentage-bar:after, .circle.percentage-66 .percentage-bar:after, .circle.percentage-65 .percentage-bar:after, .circle.percentage-64 .percentage-bar:after, .circle.percentage-63 .percentage-bar:after, .circle.percentage-62 .percentage-bar:after, .circle.percentage-61 .percentage-bar:after, .circle.percentage-60 .percentage-bar:after, .circle.percentage-59 .percentage-bar:after, .circle.percentage-58 .percentage-bar:after, .circle.percentage-57 .percentage-bar:after, .circle.percentage-56 .percentage-bar:after, .circle.percentage-55 .percentage-bar:after, .circle.percentage-54 .percentage-bar:after, .circle.percentage-53 .percentage-bar:after, .circle.percentage-52 .percentage-bar:after, .circle.percentage-51 .percentage-bar:after {
    width: 60px;
    height: 60px;
    border: 7px solid #62FFB8;
  }
}
.offer-list{
  display: grid; grid-template-columns: repeat(2,1fr); grid-row-gap: 16px; grid-column-gap: 76px;
  li{display: flex; align-items: center; justify-content: space-between;}
  h5{font: 400 16px var(--redhatdisplay); color: #74817D;}
  .coin{
    span{color: #D9F2EB; font-size: 18px; line-height: 1;}
    img{border-radius: 50%; margin-left: 10px;}
  }
  .fill_type{padding: 3px 14px; background: #343937; border-radius: 5px; color: #74817D;}
  .price,span{color: #D9F2EB; font-size: 18px; line-height: 1;}
  .arrow-up-right{width: 16px; height: 16px; background: url("#{$img-path}/arrow-up-right.svg") no-repeat;}
}


.select-box {
  padding-left: 16px;
  background: #000;
  border-radius: 12px;
  position: relative;
  border: 1px solid rgba(#74817D,.5);
  border-radius: 12px;
}
.select-box select {
  display: none;
}
.select-selected {
  display: flex; align-items: center;
  padding: 15px 15px 15px 10px;
  font: 12px var(--dogicapixel);
}
.select-selected:after {
  content: "";
  width: 17px; height: 10px; display: none; margin-left: 10px; background: url('#{$img-path}/arrow-down.svg') no-repeat 0 0/contain;
}
.select-selected.select-arrow-active:after {
  transform: rotate(180deg);
}
.select-items div,.select-selected {
  color: #D9F2EB;
  cursor: pointer;
  user-select: none;
}
.select-items {
  position: absolute;
  background: #000;
  border-radius: 12px;
  border: 1px solid rgba(#74817D,.5);
  top: 101%;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 99;
  div {padding: 8px 16px 8px 10px;}
  >*+*{border-top: 1px solid rgba(#74817D,.5);}
}
.select-hide {
  display: none;
}
.same-as-selected {
  background: #191919;
}
//history
.page-history{
  .container{max-width: 1465px;}
  .box-title{max-width: 100%; margin-bottom: 40px;}
  .box-table{
    padding: 16px 22px;
    border-radius: 35px;
    border-top: 2px solid rgba(98, 255, 184, 0.50);
    background: rgba(#191919,.85);
    box-shadow: 8px 8px 12px 0px rgba(0, 0, 0, 0.25);
    
  }
  table{
    width: 100%; color: #D9F2EB;
    th,td{padding: 25px 20px;}
    th{font-size: 18px; font-weight: 400;}
    th:first-child{padding-left: 0;}
    tr td:first-child{padding-left: 0;}
    td{font-size: 16px; font-weight: 700; border-top: 1px solid #343937;}
    p > *+*{padding-left: 15px;}
    .coin{
      flex-wrap: nowrap;
      img{width: 24px; height: 24px; object-fit: cover; border-radius: 50%;}
      span{flex: 1;}
    }
    .complete{padding-left: 30px; background: url("#{$img-path}/complete.svg") no-repeat left center; color:  var(--green);}
    .wait{padding-left: 30px; background: url("#{$img-path}/clock.svg") no-repeat left center;}
    .btn-withdraw{
      width: 160px;
      height: 42px;
      border-radius: 12px;
      font: 14px/36px var(--dogicapixel);
      background: #4A7E66;
      color: #000;
      &:hover{@include hover;}
      &.active{background: #62FFB8;}
    }
  }
}


//modal
.modal{
  &.lg .modal-dialog{max-width: 726px;}
  .modal-dialog{max-width: 520px;}
  .modal-header{
    display: block; border: none;
    p{color: #fff;}
  }
  .modal-content{
    width: 100%; padding: 42px 28px;
    border-radius: 35px;
    border-top: 2px solid rgba(98, 255, 184, 0.50);
    background: rgba(#191919,.85);
    box-shadow: 8px 8px 12px 0px rgba(0, 0, 0, 0.25);
  }
  .modal-title{margin-bottom: 4px; color: var(--green);}
  .title{
    padding: 0; text-align: center; color: #fff; font: 24px/36px var(--dogicapixel);
    &::before{display: none;}
  }
  .warning{color: #F00;}
  .encode{
    padding: 21px; border-radius: 12px;
    background: #343937;
    color: var(--light);
    font-weight: 700;
    
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .form-search{
    margin-top: 35px;
    input{
      width: 100%; height: 48px;
      border-radius: 12px;
      border: none;
      background: #343937;
      padding: 0 22px;
      font-size: 16px;
      color: var(--light);
      &::placeholder{color: var(--light);}
    }
  }
  .token-list{
    height: 295px; overflow: auto; padding-right: 20px; margin-right: -20px;
    &::-webkit-scrollbar{width: 6px;}
    &::-webkit-scrollbar-track{background: #000; border-radius: 9px;}
    &::-webkit-scrollbar-thumb{background: #343937; border-radius: 9px;}
    >*+*{margin-top: 10px;}
    .hide{display: none;}
    button,li{
      display: flex; align-items: center;
      padding: 9.5px 20px;
      width: 100%;
      background: none;
      border-radius: 12px; border: 1px solid rgba(#62FFB8,.5);
      cursor: pointer;
    }
    .icon{width: 45px;}
    .name{font-size: 18px; line-height: 20px; color: #fff; text-transform: uppercase;}
    .full_name{font-size: 12px; color: var(--light); line-height: 14px; text-align: left;}
  }
  .box-copy{
    padding: 24px 20px;
    background: rgba(#4A7E66,.3);
    .val-copy{
      max-width: 327px;
      word-wrap: break-word;
      color: #fff;
      font-size: 16px;
      color: #D9F2EB;
      line-height: 1.4;
    }
    .btn-copy{
      width: 32px; height: 32px;
      background: url("#{$img-path}/copy.svg") no-repeat;
      margin-left: auto;
      &:hover{@include hover;}
    }
  }
  .box-btn{
    margin-top: 35px; justify-content: space-between;
    button{width: calc(50% - 14px);}
    .btn-sub{
      border-radius: 12px; color: #191919; font: 16px/36px var(--dogicapixel);
      &:hover{background: #ccc;}
    }
  }
  .close{
    box-shadow: none; color: var(--light);
    font-weight: normal;
    position: absolute; top: 15px; right: 15px;
    &:hover{color: #fff !important;}
  }
}
.modal-completed{
  .btn-pr{font-size: 14px;}
}
.modal-active{padding-right: 0 !important;}
.modal-active .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-withdraw{
  .modal-dialog{max-width: 624px;}
  .modal-header{margin-bottom: 16px;}
  .modal-content{
    padding: 0; background: none; border: none;
  }
  .title{
    padding-left: 22px; font: 30px/48px var(--dogicapixelbold); text-align: left; color: var(--green); position: relative;
    background: url("#{$img-path}/line.svg") no-repeat top left;
  }
  .close{
    width: 20px; height: 20px; margin: 0;
    background: url("#{$img-path}/close.svg") no-repeat;
    top: 30px;
    opacity: 1; z-index: 2;
  }
}

//slider-range
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  background: #343937;
  border-radius: 9px;
  background-image: linear-gradient(90deg, #62FFB8 0%, #62FFB8 100%);
  background-repeat: no-repeat;
  position: relative; z-index: 2;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #62FFB8;
  cursor: pointer;
  transition: background .3s ease-in-out;
}



//switch
.switch {
  margin: 0 0 0 7px;
  position: relative;
  display: inline-block;
  width: 42px;
  height: 24px;
}
.switch input{opacity: 0;width: 0;height: 0;}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {background-color: var(--green);}
input:focus + .slider {
  box-shadow: 0 0 1px var(--green);
}
input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

@keyframes typing {
  from { width: 0;}
  to { width: 100%;}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: #D9F2EB }
  50% { border-color: transparent }
}

footer{
  padding: vw(100px) 0; background: #000;
  h3{margin-bottom: 54px; color: var(--green); font: 30px/36px var(--dogicapixel);}
  .social{
    margin: 0; justify-content: center;
    >*+*{margin-left: 80px;}
    a{width: 25px; height: 20px;}
    .discord{width: 27px;}
    .youtube{width: 29px;}
  }
}
//uikit
.pr{position: relative;}
li{list-style: none;}
h5,h4{margin-bottom: 0;}
.justify-between{justify-content: space-between;}
.modal-backdrop.show{opacity: .9;}
h2.title{
  padding-left: 22px; font: 30px/48px var(--dogicapixelbold); color: var(--green); position: relative;
  &::before{
    content: "";
    width: 11px; height: 33px;
    background: #2E654D;
    position: absolute; left: 0; top: 0;
  }
}
.text{
  max-width: 560px;
  p{margin-bottom: 35px; color: #D9F2EB; font-size: 18px; line-height: 1.34;}
  p:last-child{margin-bottom: 0;}
}
button{
  padding: 0; border: none; cursor: pointer; transition: .25s;
  &:focus{outline: none;}
}
input:focus{outline: none; box-shadow: none;}
.btn-pr{
  padding: 3px 0;
  background: var(--green);
  border-radius: 12px;
  color: #000;
  font: 16px/36px var(--dogicapixel);
  &.disabled{
    background: #4A7E66;
    &:hover{background: #4A7E66;}
  }
  &:hover{background: #31d98d; color: #000;}
}
.img-fit{width: 100%; height: 100%; object-fit: cover;}
.mb-md{margin-bottom: 35px;}
.mt-md{margin-top: 35px;}
.txt-xs{font-size: 12px; font-weight: 400;}
.txt-sm{font: 16px/36px var(--dogicapixel);}
.txt-md{font-size: 18px; line-height: 24px;}
.txt-lg{font-size: 24px; line-height: 36px;}
.txt-light{color: var(--light);}
.txt-green{color: var(--green);}
.txt-gray{color: #74817D;}
.bg-sh{
  border-radius: 35px;
  border-top: 2px solid rgba(98, 255, 184, 0.50);
  background: #191919;
  box-shadow: 8px 8px 12px 0px rgba(0, 0, 0, 0.25);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media (max-width: 1680px) {
  .oxanon-home-s1{
    h1 span{font-size: 44px; line-height: 72px;}
  }
}

@media (max-width: 1440px) {
  .category{
    .navbar{padding: 10px 0;}
    main{padding-top: 80px;}
    footer{padding: 30px 0;}
  }
  .page-history{
    .container{max-width: 1140px;}
    table{
      p >*+*{padding-left: 0;}
      p span{display: block;}
    }
  }
  .navbar-nav{
    >*+*{margin-left: 28px;}
  }
  .oxanon-home-s1{
    h1 span{font-size: 42px; line-height: 70px;}
  }
  .oxanon-home-s2{
    .content{padding: 60px;}
    .core-value{
      h4{font-size: 22px; line-height: 32px;}
      p{font-size: 16px;}
    }
  }
  .box-content{
    padding-top: 30px;
    .box-input{padding: 16px 20px; min-height: auto;}
    .btn-submit{margin-top: 35px;}
  }
  .txt-lg{font-size: 22px;}
}

@media (max-width: 1280px) {
  .oxanon-home-s1{
    h1 span{font-size: 39px; line-height: 68px;}
  }
  .navbar-nav{
    li a{font-size: 15px;}
  }
}

@media (max-width: 1024px) {
  header{
    &.scroll .navbar{padding: 10px 0;}
    .logo{width: 140px;}
    .btn-launch{padding: 0px 8px; margin-right: 36px;}
    .btn-connect{width: 160px; font-size: 12px;}
    .navbar-toggle{display: block; position: absolute; right: 0;}
    .social{
      >*+*{margin-left: 35px;}
      a{width: 25px; height: 20px;}
      .discord{width: 29px;}
    }
  }
  .navbar{
    width: 100%; min-height: auto; justify-content: flex-start;
  }
  .navbar-collapse{
    display: flex; flex-direction: column;
    justify-content: center;
    position: fixed; top: 62px; left: -100%;
    width: 100%; height: calc(100% - 60px);
    padding: 0;
    background: #191919;
    transition: all .4s ease-out;
    z-index: 91; overflow: auto;
    &.show{left: 0;}
  }
  .navbar-toggle{
    display: block;
    width: 24px;
    height: 16px;
    padding: 0;
    background: none; border: none;
    span{
      display: block; width: 24px; height: 2px; border-radius: 2px;
      background: #fff; position: absolute; top: 50%; transform: translateY(-50%); transition: .3s;
    }
    span:before,span:after{
      content: ''; display: block; width: 24px; height: 2px; background: #fff; position: absolute; border-radius: 2px;
    }
    span:before{top: -8px;}
    span:after{bottom: -8px;}
  }
  .navbar-toggle.active{
    z-index: 99;
    span{width: 24px; transform: rotate(45deg);}
    span:after{width: 22px;}
    span:before{top: 0;  transform: rotate(90deg);}
    span:after{opacity: 0;}
  }
  .navbar-nav{
    width: 100%;
    display: block;
    margin: 0;
    padding: 0 0 25px;
    >*+*{margin: 30px 0 0;}
    > li{display: block; text-align: center;}
    > li > a{line-height: inherit;}
  }
  .profile{
    margin-left: inherit; flex-direction: column;
    .eth-number{margin-bottom: 30px;}
  }

  main{padding-top: 62px;}
  .oxanon-home-s1{
    h1 span{font-size: vwt(32px); line-height: 1.6;}
  }
  .oxanon-home-s2{
    .content{padding: 40px 16px;}
    .core-value{grid-gap: 40px;}
  }
  .oxanon-home-s3{
    .row{align-items: center;}
    .content{padding-top: 0;}
  }
  .oxanon-home-s4{
    .content{padding-left: 0;}
  }
  .oxanon-home-s5{
    .roadmap{
      .item{padding: 87px 20px 122px;}
      ul::before{left: -20px;}
    }
  }
  .oxanon-category{
    .box-tooltip{
      &.lg .content{left: 0; top: 26px;}
      .content{width: 176px; left: inherit; right: 24px;}
    }
  }
  .reward{
    margin-top: 0;
    .item{width: 48%; margin: 0 1%; padding: 36px;}
    .exchange{
      padding: 15px;
      input{width: 90%;}
    }
  }
  .page-history{
    .box-table{
      width: 100%; overflow: auto;
      table{min-width: 800px;}
    }
    table{
      th,td{padding: 20px 16px;}
      th{font-size: 16px;}
      td{font-size: 14px;}
      .btn-withdraw{
        width: 120px; height: 36px;
        font-size: 12px;
      }
    }
  }

  .list-coin{
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
  }
  .offer-detail{
    > .item{padding: 24px 16px;}
    .box-action .item{padding: 20px 16px;}
    .box-tooltip{
      .content{width: 176px; left: 20px; right: inherit;}
    }

  }
}
@media (max-width: 820px) {
  .oxanon-home-s1{
    h1{margin-bottom: vwt(40px);}
    
    .contract{font-size: vwt(24px);}
  }
  .oxanon-home-s2{
    .core-value{grid-template-columns: repeat(1,1fr);}
  }
  .oxanon-home-s5{
    .roadmap{
      grid-template-columns: repeat(1,1fr); grid-gap: 30px;
      .item{padding: 60px 20px 92px;}
    }
  }

  .list-coin{
    grid-template-columns: repeat(2,1fr);
    grid-gap: 16px;
  }
  .text{
    p{font-size: 16px;}
  }
  .modal{
    .title{font-size: 22px;}
    .box-copy{
      padding: 20px 16px;
      .val-copy{max-width: calc(100% - 46px);}
    }
  }
}

@media (max-width: 767px) {
  .oxanon-home-s2{
    .title{margin-bottom: 40px;}
    .core-value{
      h4{margin-bottom: 20px; font-size: 20px; line-height: 30px;}
    }
  }
  .oxanon-home-s3{
    .row{flex-direction: column-reverse;}
    .img-wrapper,.box-video{margin-bottom: 30px;}
  }
  .oxanon-home-s5{
    .roadmap{
      ul{
        >*+*{margin-top: 20px;}
        li{font-size: 16px;}
      }
    }
  }

  .oxanon-category{
    padding: 45px 0 100px;
    &.mh-md{min-height: 1076px;}
    .box-title{margin-bottom: 35px;}
    .tab{
      margin-bottom: 30px;
      li{margin: 6px;}
      a{padding: 3px 16px;}
    }
    .tab-content{padding: 0 16px 40px;}
    .amout-list{
      grid-gap: 16px;
      button{padding: 12px 10px; font-size: 20px; line-height: 32px;}
    }
    .secret-key{
      padding: 8px 15px 8px 52px;
      background-position: 15px center;
    }
    .box-coin{
      padding: 16px;
      .coin img{margin-right: -10px;}
      input{font-size: 21px;}
    }
    .info{
      h4{padding: 27px 16px;}
      ul{padding: 22px 16px;}
    }
    .code{padding: 16px; font-size: 16px;}
    .notifi{
      padding: 30px 15px;
      h2{line-height: 32px;}
    }
  }
  .box-form{
    margin-top: 0;
    padding: 32px 15px 45px;
    .header{margin-bottom: 40px;}
    .form-group{margin-bottom: 24px;}
    input{padding: 0 16px;}
    label,input{font-size: 16px;}
    .box-btn{margin-top: 15px;}
  }
  .reward{
    .item{width: 100%; margin: 0 0 30px; padding: 30px 20px; border-radius: 26px;}
    .amount{font-size: 32px;}
    .exchange{font-size: 16px;}
  }
  .box-content{
    padding: 30px 16px;
    .sim-card{padding-bottom: 20px; margin-bottom: 20px;}
    .box-input{
      padding: 16px;
      .amount{
        padding-left: 16px;
        input{font-size: 20px;}
      }
    }
    .checkbox{margin-top: 20px;}
    .form-row{grid-template-columns: repeat(1, 1fr);}
    .estimated{margin-top: 25px; font-size: 12px; line-height: 1.6;}
    .warning{margin: 25px 0; padding: 16px;}
    .btn-transfer{margin: 20px 0;}
  }
  .bar-action{
    .tab{
      margin-bottom: 6px;
      li{margin: 0;}
    }
  }
  .offer-detail{
    .box-action{grid-template-columns: repeat(1,1fr);}
    .btn-connect{width: 100%; margin-top: 24px;}
    .box-table{
      th{font-size: 16px;}
    }
  }
  .offer-list{grid-template-columns: repeat(1,1fr);}

  footer{
    padding: 40px 0;
    h3{margin-bottom: 30px; font-size: 22px; line-height: 32px;}
    .social > *+*{margin-left: 50px;}
  }

  .img-wrapper img{margin: 0 auto;}
  .text{
    max-width: 100%;
    p{margin-bottom: 28px;}
  }
  .btn-pr{font-size: 14px; line-height: 34px;}
  .mb-md{margin-bottom: 28px;}
  .txt-md{font-size: 16px;}
  .txt-lg{font-size: 20px; line-height: 32px;}
  h2.title{
    padding-left: 20px; font-size: 24px; line-height: 36px;
    &::before{width: 9px; height: 26px;}
  }
}
@media (max-width: 480px) {
  header{
    .btn-launch{font-size: 13px;}
  }
  .oxanon-home-s1{
    padding: 78px 0;
    .content{padding-right: 0;}
    .contract{font-size: vwm(20px);}
    h1{
      margin-bottom: vwm(30px);
      &.mobile{display: block;}
      &.desktop{display: none;}
      span{font-size: vwm(32px); line-height: 1.9; animation: typing 2s steps(30, end);}
    }
  }
  .oxanon-home-s2{background-position: bottom center; background-size: contain;}
  .oxanon-category{
    background: url("#{$img-path}/bg-home-s2.jpg") no-repeat bottom center fixed;
    background-size: cover;
    &.nofixed{background-size: contain;}
    .tab{
      a{min-width: auto; font-size: 13px;}
    }
    .tab-content{
      .header{padding: 20px 0 11px; margin-bottom: 25px;}
      h3{margin-bottom: 25px;}
    }
    .amout-list{grid-template-columns: repeat(3,1fr);}
  }
  .box-content{
    .box-input h4,.form-group label{margin-bottom: 16px; width: 100%;}
    .form-group input{text-align: left;}
  }
  .bar-action{
    .tab{
      li a{padding: 3px 12px;}
    }
  }
  .list-coin{
    grid-template-columns: repeat(1,1fr);
  }
  .modal{
    .modal-content{padding: 30px 15px;}
    .form-search{
      margin-top: 28px;
      input{padding: 0 15px;}
    }
    .box-btn{
      button{width: calc(50% - 8px);}
      .btn-sub{font-size: 14px;}
    }
  }
  .modal-completed{
    .btn-pr{font-size: 13px;}
    .box-btn{
      margin-bottom: 28px;
      >*+*{margin-top: 15px;}
      button{width: 100%;}
    }
  }
  .modal-withdraw{
    .modal-content{padding: 0;}
    .title{font-size: 24px; line-height: 36px;}
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.02, 1.02, 1.02);
    transform: scale3d(1.02, 1.02, 1.02);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.02, 1.02, 1.02);
    transform: scale3d(1.02, 1.02, 1.02);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(1.6);
    filter: saturate(1.6);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
@-webkit-keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(1.6);
    filter: saturate(1.6);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
.flash{
  animation-name: flash;
  -webkit-animation-name: flash;
}


.circle.percentage-100 .percentage-bar:after, .circle.percentage-99 .percentage-bar:after, .circle.percentage-98 .percentage-bar:after, .circle.percentage-97 .percentage-bar:after, .circle.percentage-96 .percentage-bar:after, .circle.percentage-95 .percentage-bar:after, .circle.percentage-94 .percentage-bar:after, .circle.percentage-93 .percentage-bar:after, .circle.percentage-92 .percentage-bar:after, .circle.percentage-91 .percentage-bar:after, .circle.percentage-90 .percentage-bar:after, .circle.percentage-89 .percentage-bar:after, .circle.percentage-88 .percentage-bar:after, .circle.percentage-87 .percentage-bar:after, .circle.percentage-86 .percentage-bar:after, .circle.percentage-85 .percentage-bar:after, .circle.percentage-84 .percentage-bar:after, .circle.percentage-83 .percentage-bar:after, .circle.percentage-82 .percentage-bar:after, .circle.percentage-81 .percentage-bar:after, .circle.percentage-80 .percentage-bar:after, .circle.percentage-79 .percentage-bar:after, .circle.percentage-78 .percentage-bar:after, .circle.percentage-77 .percentage-bar:after, .circle.percentage-76 .percentage-bar:after, .circle.percentage-75 .percentage-bar:after, .circle.percentage-74 .percentage-bar:after, .circle.percentage-73 .percentage-bar:after, .circle.percentage-72 .percentage-bar:after, .circle.percentage-71 .percentage-bar:after, .circle.percentage-70 .percentage-bar:after, .circle.percentage-69 .percentage-bar:after, .circle.percentage-68 .percentage-bar:after, .circle.percentage-67 .percentage-bar:after, .circle.percentage-66 .percentage-bar:after, .circle.percentage-65 .percentage-bar:after, .circle.percentage-64 .percentage-bar:after, .circle.percentage-63 .percentage-bar:after, .circle.percentage-62 .percentage-bar:after, .circle.percentage-61 .percentage-bar:after, .circle.percentage-60 .percentage-bar:after, .circle.percentage-59 .percentage-bar:after, .circle.percentage-58 .percentage-bar:after, .circle.percentage-57 .percentage-bar:after, .circle.percentage-56 .percentage-bar:after, .circle.percentage-55 .percentage-bar:after, .circle.percentage-54 .percentage-bar:after, .circle.percentage-53 .percentage-bar:after, .circle.percentage-52 .percentage-bar:after, .circle.percentage-51 .percentage-bar:after {
  position: absolute;
  content: "";
  -webkit-clip-path: inset(0 0 0 50%);
  clip-path: inset(0 0 0 50%);
  transform: rotate(0deg);
  width: 50px;
  height: 50px;
  border: 5px solid #62FFB8;
  background: transparent;
  border-radius: 100%;
  transition: width 0.2s ease-out, height 0.2s ease-out, border-width 0.2s ease-out;
}

.circle.percentage-100 .percentage-bar, .circle.percentage-99 .percentage-bar, .circle.percentage-98 .percentage-bar, .circle.percentage-97 .percentage-bar, .circle.percentage-96 .percentage-bar, .circle.percentage-95 .percentage-bar, .circle.percentage-94 .percentage-bar, .circle.percentage-93 .percentage-bar, .circle.percentage-92 .percentage-bar, .circle.percentage-91 .percentage-bar, .circle.percentage-90 .percentage-bar, .circle.percentage-89 .percentage-bar, .circle.percentage-88 .percentage-bar, .circle.percentage-87 .percentage-bar, .circle.percentage-86 .percentage-bar, .circle.percentage-85 .percentage-bar, .circle.percentage-84 .percentage-bar, .circle.percentage-83 .percentage-bar, .circle.percentage-82 .percentage-bar, .circle.percentage-81 .percentage-bar, .circle.percentage-80 .percentage-bar, .circle.percentage-79 .percentage-bar, .circle.percentage-78 .percentage-bar, .circle.percentage-77 .percentage-bar, .circle.percentage-76 .percentage-bar, .circle.percentage-75 .percentage-bar, .circle.percentage-74 .percentage-bar, .circle.percentage-73 .percentage-bar, .circle.percentage-72 .percentage-bar, .circle.percentage-71 .percentage-bar, .circle.percentage-70 .percentage-bar, .circle.percentage-69 .percentage-bar, .circle.percentage-68 .percentage-bar, .circle.percentage-67 .percentage-bar, .circle.percentage-66 .percentage-bar, .circle.percentage-65 .percentage-bar, .circle.percentage-64 .percentage-bar, .circle.percentage-63 .percentage-bar, .circle.percentage-62 .percentage-bar, .circle.percentage-61 .percentage-bar, .circle.percentage-60 .percentage-bar, .circle.percentage-59 .percentage-bar, .circle.percentage-58 .percentage-bar, .circle.percentage-57 .percentage-bar, .circle.percentage-56 .percentage-bar, .circle.percentage-55 .percentage-bar, .circle.percentage-54 .percentage-bar, .circle.percentage-53 .percentage-bar, .circle.percentage-52 .percentage-bar, .circle.percentage-51 .percentage-bar {
  -webkit-clip-path: none;
  clip-path: none;
}

.circle {
  width: 50px;
  height: 50px;
  cursor: default;
}
.circle span {
  position: absolute;
  display: block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #D9F2EB;
  line-height: 50px;
  font-size: 10px;
  font-family: Helvetica, Arial, Geneva, sans-serif;
  transition: font-size 0.2s ease-out;
}
.circle:before {
  position: absolute;
  content: "";
  background-color: transparent;
  width: 50px;
  height: 50px;
  border: 5px solid rgba(#74817D,.5);
  background: transparent;
  border-radius: 100%;
  transition: width 0.2s ease-out, height 0.2s ease-out, border-width 0.2s ease-out;
}
.circle .percentage-bar {
  width: 50px;
  height: 50px;
  position: absolute;
  -webkit-clip-path: inset(0 0 0 50%);
          clip-path: inset(0 0 0 50%);
}
.circle .percentage-bar:before {
  position: absolute;
  content: "";
  -webkit-clip-path: inset(0 50% 0 0);
          clip-path: inset(0 50% 0 0);
  transform: rotate(0deg);
  width: 50px;
  height: 50px;
  border: 5px solid #62FFB8;
  background: transparent;
  border-radius: 100%;
  transition: width 0.2s ease-out, height 0.2s ease-out, border-width 0.2s ease-out;
}

.circle.percentage-1 .percentage-bar:before {
  transform: rotate(3.6deg);
}
.circle.percentage-2 .percentage-bar:before {
  transform: rotate(7.2deg);
}
.circle.percentage-3 .percentage-bar:before {
  transform: rotate(10.8deg);
}
.circle.percentage-4 .percentage-bar:before {
  transform: rotate(14.4deg);
}
.circle.percentage-5 .percentage-bar:before {
  transform: rotate(18deg);
}
.circle.percentage-6 .percentage-bar:before {
  transform: rotate(21.6deg);
}
.circle.percentage-7 .percentage-bar:before {
  transform: rotate(25.2deg);
}
.circle.percentage-8 .percentage-bar:before {
  transform: rotate(28.8deg);
}
.circle.percentage-9 .percentage-bar:before {
  transform: rotate(32.4deg);
}
.circle.percentage-10 .percentage-bar:before {
  transform: rotate(36deg);
}
.circle.percentage-11 .percentage-bar:before {
  transform: rotate(39.6deg);
}
.circle.percentage-12 .percentage-bar:before {
  transform: rotate(43.2deg);
}
.circle.percentage-13 .percentage-bar:before {
  transform: rotate(46.8deg);
}
.circle.percentage-14 .percentage-bar:before {
  transform: rotate(50.4deg);
}
.circle.percentage-15 .percentage-bar:before {
  transform: rotate(54deg);
}
.circle.percentage-16 .percentage-bar:before {
  transform: rotate(57.6deg);
}
.circle.percentage-17 .percentage-bar:before {
  transform: rotate(61.2deg);
}
.circle.percentage-18 .percentage-bar:before {
  transform: rotate(64.8deg);
}
.circle.percentage-19 .percentage-bar:before {
  transform: rotate(68.4deg);
}
.circle.percentage-20 .percentage-bar:before {
  transform: rotate(72deg);
}
.circle.percentage-21 .percentage-bar:before {
  transform: rotate(75.6deg);
}
.circle.percentage-22 .percentage-bar:before {
  transform: rotate(79.2deg);
}
.circle.percentage-23 .percentage-bar:before {
  transform: rotate(82.8deg);
}
.circle.percentage-24 .percentage-bar:before {
  transform: rotate(86.4deg);
}
.circle.percentage-25 .percentage-bar:before {
  transform: rotate(90deg);
}
.circle.percentage-26 .percentage-bar:before {
  transform: rotate(93.6deg);
}
.circle.percentage-27 .percentage-bar:before {
  transform: rotate(97.2deg);
}
.circle.percentage-28 .percentage-bar:before {
  transform: rotate(100.8deg);
}
.circle.percentage-29 .percentage-bar:before {
  transform: rotate(104.4deg);
}
.circle.percentage-30 .percentage-bar:before {
  transform: rotate(108deg);
}
.circle.percentage-31 .percentage-bar:before {
  transform: rotate(111.6deg);
}
.circle.percentage-32 .percentage-bar:before {
  transform: rotate(115.2deg);
}
.circle.percentage-33 .percentage-bar:before {
  transform: rotate(118.8deg);
}
.circle.percentage-34 .percentage-bar:before {
  transform: rotate(122.4deg);
}
.circle.percentage-35 .percentage-bar:before {
  transform: rotate(126deg);
}
.circle.percentage-36 .percentage-bar:before {
  transform: rotate(129.6deg);
}
.circle.percentage-37 .percentage-bar:before {
  transform: rotate(133.2deg);
}
.circle.percentage-38 .percentage-bar:before {
  transform: rotate(136.8deg);
}
.circle.percentage-39 .percentage-bar:before {
  transform: rotate(140.4deg);
}
.circle.percentage-40 .percentage-bar:before {
  transform: rotate(144deg);
}
.circle.percentage-41 .percentage-bar:before {
  transform: rotate(147.6deg);
}
.circle.percentage-42 .percentage-bar:before {
  transform: rotate(151.2deg);
}
.circle.percentage-43 .percentage-bar:before {
  transform: rotate(154.8deg);
}
.circle.percentage-44 .percentage-bar:before {
  transform: rotate(158.4deg);
}
.circle.percentage-45 .percentage-bar:before {
  transform: rotate(162deg);
}
.circle.percentage-46 .percentage-bar:before {
  transform: rotate(165.6deg);
}
.circle.percentage-47 .percentage-bar:before {
  transform: rotate(169.2deg);
}
.circle.percentage-48 .percentage-bar:before {
  transform: rotate(172.8deg);
}
.circle.percentage-49 .percentage-bar:before {
  transform: rotate(176.4deg);
}
.circle.percentage-50 .percentage-bar:before {
  transform: rotate(180deg);
}
.circle.percentage-51 .percentage-bar:before {
  transform: rotate(183.6deg);
}
.circle.percentage-52 .percentage-bar:before {
  transform: rotate(187.2deg);
}
.circle.percentage-53 .percentage-bar:before {
  transform: rotate(190.8deg);
}
.circle.percentage-54 .percentage-bar:before {
  transform: rotate(194.4deg);
}
.circle.percentage-55 .percentage-bar:before {
  transform: rotate(198deg);
}
.circle.percentage-56 .percentage-bar:before {
  transform: rotate(201.6deg);
}
.circle.percentage-57 .percentage-bar:before {
  transform: rotate(205.2deg);
}
.circle.percentage-58 .percentage-bar:before {
  transform: rotate(208.8deg);
}
.circle.percentage-59 .percentage-bar:before {
  transform: rotate(212.4deg);
}
.circle.percentage-60 .percentage-bar:before {
  transform: rotate(216deg);
}
.circle.percentage-61 .percentage-bar:before {
  transform: rotate(219.6deg);
}
.circle.percentage-62 .percentage-bar:before {
  transform: rotate(223.2deg);
}
.circle.percentage-63 .percentage-bar:before {
  transform: rotate(226.8deg);
}
.circle.percentage-64 .percentage-bar:before {
  transform: rotate(230.4deg);
}
.circle.percentage-65 .percentage-bar:before {
  transform: rotate(234deg);
}
.circle.percentage-66 .percentage-bar:before {
  transform: rotate(237.6deg);
}
.circle.percentage-67 .percentage-bar:before {
  transform: rotate(241.2deg);
}
.circle.percentage-68 .percentage-bar:before {
  transform: rotate(244.8deg);
}
.circle.percentage-69 .percentage-bar:before {
  transform: rotate(248.4deg);
}
.circle.percentage-70 .percentage-bar:before {
  transform: rotate(252deg);
}
.circle.percentage-71 .percentage-bar:before {
  transform: rotate(255.6deg);
}
.circle.percentage-72 .percentage-bar:before {
  transform: rotate(259.2deg);
}
.circle.percentage-73 .percentage-bar:before {
  transform: rotate(262.8deg);
}
.circle.percentage-74 .percentage-bar:before {
  transform: rotate(266.4deg);
}
.circle.percentage-75 .percentage-bar:before {
  transform: rotate(270deg);
}
.circle.percentage-76 .percentage-bar:before {
  transform: rotate(273.6deg);
}
.circle.percentage-77 .percentage-bar:before {
  transform: rotate(277.2deg);
}
.circle.percentage-78 .percentage-bar:before {
  transform: rotate(280.8deg);
}
.circle.percentage-79 .percentage-bar:before {
  transform: rotate(284.4deg);
}
.circle.percentage-80 .percentage-bar:before {
  transform: rotate(288deg);
}
.circle.percentage-81 .percentage-bar:before {
  transform: rotate(291.6deg);
}
.circle.percentage-82 .percentage-bar:before {
  transform: rotate(295.2deg);
}
.circle.percentage-83 .percentage-bar:before {
  transform: rotate(298.8deg);
}
.circle.percentage-84 .percentage-bar:before {
  transform: rotate(302.4deg);
}
.circle.percentage-85 .percentage-bar:before {
  transform: rotate(306deg);
}
.circle.percentage-86 .percentage-bar:before {
  transform: rotate(309.6deg);
}
.circle.percentage-87 .percentage-bar:before {
  transform: rotate(313.2deg);
}
.circle.percentage-88 .percentage-bar:before {
  transform: rotate(316.8deg);
}
.circle.percentage-89 .percentage-bar:before {
  transform: rotate(320.4deg);
}
.circle.percentage-90 .percentage-bar:before {
  transform: rotate(324deg);
}
.circle.percentage-91 .percentage-bar:before {
  transform: rotate(327.6deg);
}
.circle.percentage-92 .percentage-bar:before {
  transform: rotate(331.2deg);
}
.circle.percentage-93 .percentage-bar:before {
  transform: rotate(334.8deg);
}
.circle.percentage-94 .percentage-bar:before {
  transform: rotate(338.4deg);
}
.circle.percentage-95 .percentage-bar:before {
  transform: rotate(342deg);
}
.circle.percentage-96 .percentage-bar:before {
  transform: rotate(345.6deg);
}
.circle.percentage-97 .percentage-bar:before {
  transform: rotate(349.2deg);
}
.circle.percentage-98 .percentage-bar:before {
  transform: rotate(352.8deg);
}
.circle.percentage-99 .percentage-bar:before {
  transform: rotate(356.4deg);
}
.circle.percentage-100 .percentage-bar:before {
  transform: rotate(360deg);
}
